{% extends 'base.html' %}
{% load static %}
{% load i18n  %}

{% block title %} Матеріали {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/materialsMain.css' %}">
{% endblock %}

{% block content %}
<div>
    <div class="main-container">
        <div class="higher-container">
            <div class="left-high bg-shapes"></div>
            <div class="center-high">
                <div class="container-for-texts">
                    <h1>Завдання другого заочного туру Всеукраїнської інтернет-олімпіади з фізики</h1>
                    <span>Приєднуйтесь до нашої онлайн-школи <a class="" href="https://t.me/+86JzRhcXWPdkMGVi"><bluetext>тут</bluetext></a></span>
                </div>
            </div>
            <div class="right-high bg-shapes">
            </div>
        </div>
        <div class="rectangles-wrapper">
            <div class="image">
                <div class="container-downloads">
                    <div class="task-box">
                        <span class="task-name">Завдання 9 класу</span>
                        <a class="button-download" href="{% url "download_file" filename="all_9 клас 2 тур.pdf" %}">Задачі в .pdf<br><i class="fa-solid fa-download"></i></a>
{#                        <a class="button-download" href="{% url "download_file" filename="all_9 клас.docx" %}">Задачі в .docx<br> <i class="fa-solid fa-download"></i></a>#}
                    </div>
                    <div class="task-box">
                        <span class="task-name">Завдання 10 класу</span>
                        <a class="button-download" href="{% url "download_file" filename="all_10 клас 2 тур.pdf" %}">Задачі в .pdf<br> <i class="fa-solid fa-download"></i></a>
{#                        <a class="button-download" href="{% url "download_file" filename="all_10 клас.docx" %}">Задачі в .docx<br> <i class="fa-solid fa-download"></i></a>#}
                    </div>
                    <div class="task-box">
                        <span class="task-name">Завдання 11 класу</span>
                        <a class="button-download" href="{% url "download_file" filename="all_11 клас 2 тур.pdf" %}">Задачі в .pdf <br><i class="fa-solid fa-download"></i></a>
{#                        <a class="button-download" href="{% url "download_file" filename="all_11 клас.docx" %}">Задачі в .docx <br><i class="fa-solid fa-download"></i></a>#}
                    </div>
                </div>
            </div>
            <div class="text-information">
                <div class="main-text">
                    <h1 class="big-text white-t">Всеукраїнська інтернет-олімпіада з фізики</h1>
                    <span class="small-text white-t">
                        Всеукраїнська інтернет-олімпіада з фізики - це чудова можливість для учнів перевірити свої знання та вміння в різних предметах, не виходячи з дому. Завдяки двом заочним турах, кожен учень може взяти участь в цікавому змаганні, а очний тур дозволяє продемонструвати свої знання на високому рівні серед найкращих учнів. Це не лише шанс отримати цінний досвід, але й можливість проявити себе, отримати визнання і відчуття справжніх, трошки спортивних змагань.
                    </span>
                    <div><button class="white-button" ><a href="{% url "home" %}">Дізнатись більше <i class="fas fa-arrow-right"></i></a></button></div>
                </div>
                <div class="first-tour-info bg-steps">
                    <span class="poznachka">2 ТУР</span>
                    <span class="title-1">Інформація та матеріали до 2-го туру</span>
                    <span class="text">
                        Олімпіада з фізики пропонує вам різноманітні можливості для
                        інтенсивної роботи з питаннями фізики, відчути фізику як
                        захоплюючу наукову дисципліну, перевірити власні межі та,
                        що не менш важливо, познайомитися з цікавими людьми.
                    </span>
                    <a class="frame-link std-text-color" href="{% url "materials" %}"> до 2-го туру <i class="fas fa-arrow-right"></i> </a>
                </div>
            </div>
        </div>
        <div class="centered-container bg-big-info">

        </div>
    </div>
    <div class="down-container">
    </div>
</div>
{% endblock %}