{% block content %}
{% load static %}
{% load i18n  %}
{# TODO: этот хтмл файл служит отображением материалов олимпиады (Решения, условия и т.д) в зависимости от выбранного #}
{# TODO: сделать подобное тому что есть в admin tools (тоесть страничка и слева будут функции на выбор) #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'widgets/navigation_bar.html' %}
<div class="container-page" style="margin-top: 150px">
    {% include 'materials/Materials_side_menu.html' %}
    {% if page_name == 'terms' %}
        {% include 'materials/Olimp_terms.html' %}
    {% elif page_name == 'solutions' %}
        {% include 'materials/Olimp_solutions.html' %}
    {% elif page_name == 'results' %}
        {% include 'materials/Olimp_results.html' %}
    {% elif page_name == 'other' %}
        {% include 'materials/Olimp_other.html' %}
    {% endif %}
</div>
</body>
</html>
<script>

</script>
{% endblock %}