
.centered-container{
    font-family: Montserrat-Bold, sans-serif;
    margin-top: 140px;

}
.pre-title{
    font-size: 16px;
    color: #005bbb;
    font-weight: 600;
}
.title{
    font-size: 52px;
    font-weight: 600;
}
.article-content{
    word-wrap: break-word;
}
.articles-grid{
    margin-top: 50px;
    display: grid;
    gap: 30px;
    justify-content: center;
}
@media only screen and (min-width: 769px) {
    .articles-grid {
        grid-template-columns: auto auto auto;
    }
    .centered-container{
        margin-left: 320px;
        margin-right: 320px;
    }
}
@media only screen and (max-width: 768px) and (min-width: 561px) {
   .articles-grid {
       grid-template-columns: auto auto;
   }
    .centered-container{
        padding: 20px;
    }
}

@media only screen and (max-width: 560px) {
   .articles-grid {
       grid-template-columns:  auto;
   }
    .centered-container{
        padding: 20px;
    }
}
.article-mini-text{
    font-weight: 600;
    color: black;
    text-decoration: none;
    margin-top: 10px;
    font-size: 16px;
}
.article-container{
    text-align: center;
}
.article-container img{
    width: 250px;
    height: 180px;
    border-radius: 6px;
}

.absolute-link{
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: #005bbb;
}
.absolute-link:hover{
    text-decoration: none;
}
.absolute-link i {

}