{% load static %}
{% load form_tags %}
{% load i18n  %}
<div class="page-container">

    <div id="tabs">
        {% for task in tasks_numbers %}
            {% if forloop.counter == 1 %}
                <div class="tab active-tab" data-task="{{ task }}">{{ task }}</div>
            {% else %}
                <div class="tab" data-task="{{ task }}">{{ task }}</div>
            {% endif %}
        {% endfor %}
    </div>
    <div id="task-container">
        <div id="current-task">
        </div>
        <div id="criteria-container">
            <!-- Критерии будут добавляться динамически с помощью JS -->
        </div>
        <div>
            <button id="reject-criteria">Відхилити критерії</button>
            <button id="submit-criteria">Підтвердити критерії</button>
        </div>
    </div>

</div>