{% load static %}
{% load form_tags %}
{% load i18n  %}

<div class="page-container">

    <div id="tabs">
        {% for task in jury_tasks %}
            {% if forloop.counter == 1 %}
                <div class="tab active-tab" data-task="{{ task }}">{{ task }}</div>
            {% else %}
                <div class="tab" data-task="{{ task }}">{{ task }}</div>
            {% endif %}
        {% endfor %}
    </div>
    <div id="task-container">
        <div id="current-task">
        </div>
        <div id="criteria-container">
            <!-- Критерии будут добавляться динамически с помощью JS -->
        </div>
        {% if jury_tasks %}
            <i id="add-criteria" class="fa-solid fa-plus"></i>
            <button id="submit-criteria">Затвердити зміни</button>
        {% else %}
            <h1> Вам ще не було надано дозволу додавати критерії</h1>
        {% endif %}
    </div>

</div>