{% block content %}
{% load static %}
{% load form_tags %}
{% load i18n  %}
<link rel="stylesheet" href="{% static 'css/Jury/jury_criteria_approve.css' %}">

<div class="page-container">

    <div id="tabs">
        {% for task in tasks_numbers %}
            {% if forloop.counter == 1 %}
                <div class="tab active-tab" data-task="{{ task }}_2_tour">{{ task }}</div>
            {% else %}
                <div class="tab" data-task="{{ task }}_2_tour">{{ task }}</div>
            {% endif %}
        {% endfor %}
    </div>
    <div id="task-container">
        <div id="current-task">
        </div>
        <div id="criteria-container">
            <!-- Критерии будут добавляться динамически с помощью JS -->
        </div>
        <div>
            <button id="reject-criteria">Відхилити критерії</button>
            <button id="submit-criteria">Підтвердити критерії</button>
        </div>
    </div>

</div>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        const tabs = document.querySelectorAll('.tab');
        const criteriaContainer = document.getElementById('criteria-container');
        const currentTask = document.getElementById('current-task');
        const jury_tasks = {{ jury_tasks|safe }};
        const savedCriteria = {{ saved_criteria|safe }};
        // Функция для отображения сохраненных критериев задачи
        function showTask(taskId) {
            currentTask.innerHTML = ``;
            const headerTask = document.createElement('h1');
            headerTask.textContent = `Задача ${taskId.replace('_2_tour', "")}`;

            const pointsHeader = document.createElement('h3');
            pointsHeader.textContent =  {{ tasks|safe }}['task'+taskId].max_points +` балів`;

            currentTask.appendChild(headerTask);
            currentTask.appendChild(pointsHeader);

            criteriaContainer.innerHTML = '';  // Очистка контейнера критериев

            // Отображение сохраненных критериев, если они есть
            console.log(taskId);
            console.log(savedCriteria);
            if (savedCriteria[taskId.replace("_2_tour", "")] !== undefined && savedCriteria[taskId.replace("_2_tour", '')].length !== 0) {
                console.log('HERE');
                const rejectBtn = document.getElementById('reject-criteria');
                rejectBtn.style.display = '';
                const acceptBtn = document.getElementById('submit-criteria');
                acceptBtn.style.display = '';
                savedCriteria[taskId.replace('_2_tour', '')].forEach((criterion, index) => {
                    addCriteriaRow(criterion.criterion_text, criterion.points, index+1);
                });
            }
            else{
                addEmptyCriterion();
            }
        }
        if(jury_tasks.length !== 0) {
            showTask(jury_tasks[0]+"_2_tour");
        }
        // Функция для добавления новой строки критериев
        function addCriteriaRow(criterion_text = '', points = '', index=1) {
            const row = document.createElement('div');
            row.classList.add('criteria-row');
            row.innerHTML = `
                <span class="criteria-counter">${index}.</span>
                <span class="criteria-text">${criterion_text}</span>
                <span class="criteria-points">${points} балів</span>
            `;
            criteriaContainer.appendChild(row);
        }
        function addEmptyCriterion() {
            const row = document.createElement('div');
            row.classList.add('criteria-row');
            row.innerHTML = `
                <span class="criterion-empty">Критерії ще не були додані.</span>
            `;
            criteriaContainer.appendChild(row);
            const rejectBtn = document.getElementById('reject-criteria');
            rejectBtn.style.display = 'none';
            const acceptBtn = document.getElementById('submit-criteria');
            acceptBtn.style.display = 'none';
        }

        // Переключение между задачами
        tabs.forEach(tab => {
            if({{ tasks|safe }}['task'+tab.getAttribute('data-task')].status !== "") {
                tab.classList.add({{ tasks|safe }}['task' + tab.getAttribute('data-task')].status);
            }
            tab.addEventListener('click', function () {
                document.querySelector('.active-tab').classList.remove('active-tab');
                this.classList.add('active-tab');
                const taskId = this.getAttribute('data-task');
                showTask(taskId);
            });
        });

        // Обработка отправки критериев
        document.getElementById('submit-criteria').addEventListener('click', function () {
            const taskId = document.querySelector('.active-tab').getAttribute('data-task');
            const criteriaData = [];

            const csrftoken = getCookie('csrftoken'); // Ensure you have csrftoken available
            // Отправка данных на сервер
            fetch('{% url 'approve_criteria' %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({ task_id: taskId, criteria: criteriaData })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Критерії було успішно підтверджено!');
                } else {
                    alert('Помилка під час підтвердження критеріїв!');
                    console.log(data.error);
                }
            });
        });
        document.getElementById('reject-criteria').addEventListener('click', function () {
            const taskId = document.querySelector('.active-tab').getAttribute('data-task');
            const criteriaData = [];

            const csrftoken = getCookie('csrftoken'); // Ensure you have csrftoken available
            // Отправка данных на сервер
            fetch('{% url 'reject_criteria' %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({ task_id: taskId, criteria: criteriaData })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Критерії було успішно відхилено!');
                } else {
                    alert('Помилка при відхиленні критеріїв!');
                    console.log(data.error);
                }
            });
        });
    });
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% endblock %}