{% load static %}
{% load i18n  %}
<div class="page-container">
    <div id="tabs">
        <div id="tabs">
            <div class="tab active-tab" data-class="class9">9 клас</div>
            <div class="tab" data-class="class10">10 клас</div>
            <div class="tab" data-class="class11">11 клас</div>
        </div>
    </div>
    <div id="content-container">
        <div id="class9" class="content active-content">
            {% for key, values in tasks.items %}
                {% if values.class == 9 %}
                    <div class="upload-box" id="box{{ forloop.counter }}">
                        <h1> {{ values.name }} </h1>
                        <div class="update-field">
                            <form method="post" class="task-form" action="{% url 'submit_max_score' %}">
                                {% csrf_token %}
                                <!-- Скрытое поле для передачи айди задачи в бд -->
                                <input type="hidden" name="task_id" value="{{ values.task_id }}"> <!-- Уникальное значение для каждой задачи -->

                                <input type="number" min="0" placeholder="Введіть бали" name="max_score" class="max-score">
                                <div class="buttons">
                                    <a class="clear-btn">Очистити</a>
                                    <button type="submit" class="submit-btn"> Підтвердити </button>
                                </div>
                            </form>
                        </div>
                        <span class="current-points">
                            Бали за задачу: {{ values.max_points }}
                        </span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div id="class10" class="content">
            {% for key, values in tasks.items %}
                {% if values.class == 10 %}
                    <div class="upload-box" id="box{{ forloop.counter }}">
                        <h1> {{ values.name }} </h1>
                        <div class="update-field">
                            <form method="post" class="task-form" action="{% url 'submit_max_score' %}">
                                {% csrf_token %}
                                <!-- Скрытое поле для передачи айди задачи в бд -->
                                <input type="hidden" name="task_id" value="{{ values.task_id }}"> <!-- Уникальное значение для каждой задачи -->

                                <input type="number" min="0" placeholder="Введіть бали" name="max_score" class="max-score">
                                <div class="buttons">
                                    <a class="clear-btn">Очистити</a>
                                    <button type="submit" class="submit-btn"> Підтвердити </button>
                                </div>
                            </form>
                        </div>
                        <span class="current-points">
                            Бали за задачу: {{ values.max_points }}
                        </span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div id="class11" class="content">
            {% for key, values in tasks.items %}
                {% if values.class == 11 %}
                    <div class="upload-box" id="box{{ forloop.counter }}">
                        <h1> {{ values.name }} </h1>
                        <div class="update-field">
                            <form method="post" class="task-form" action="{% url 'submit_max_score' %}">
                                {% csrf_token %}
                                <!-- Скрытое поле для передачи айди задачи в бд -->
                                <input type="hidden" name="task_id" value="{{ values.task_id }}"> <!-- Уникальное значение для каждой задачи -->

                                <input type="number" min="0" placeholder="Введіть бали" name="max_score" class="max-score">
                                <div class="buttons">
                                    <a class="clear-btn">Очистити</a>
                                    <button type="submit" class="submit-btn"> Підтвердити </button>
                                </div>
                            </form>
                        </div>
                        <span class="current-points">
                            Бали за задачу: {{ values.max_points }}
                        </span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>