{% load static %}
{% load i18n  %}
<div class="page-container">
    <div id="tabs">
        <div id="tabs">
            <div class="tab active-tab" data-class="class9">9 клас</div>
            <div class="tab" data-class="class10">10 клас</div>
            <div class="tab" data-class="class11">11 клас</div>
        </div>
    </div>
    <div id="content-container">
        <div id="class9" class="content active-content">
            {% for key, values in tasks.items %}
                {% if values.class == 9 %}
                    <div class="upload-box" id="box{{ forloop.counter }}">
                        <h1> {{ values.name }} </h1>
                        <div class="update-field">
                            <form method="post" class="task-form" action="{% url 'submit_max_score' %}">
                                {% csrf_token %}
                                <!-- Скрытое поле для передачи айди задачи в бд -->
                                <input type="hidden" name="task_id" value="{{ values.task_id }}"> <!-- Уникальное значение для каждой задачи -->

                                <input type="number" min="0" placeholder="Введіть бали" name="max_score" class="max-score">
                                <div class="buttons">
                                    <a class="clear-btn">Очистити</a>
                                    <button type="submit" class="submit-btn"> Підтвердити </button>
                                </div>
                            </form>
                        </div>
                        <span class="current-points">
                            Бали за задачу: {{ values.max_points }}
                        </span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div id="class10" class="content">
            {% for key, values in tasks.items %}
                {% if values.class == 10 %}
                    <div class="upload-box" id="box{{ forloop.counter }}">
                        <h1> {{ values.name }} </h1>
                        <div class="update-field">
                            <form method="post" class="task-form" action="{% url 'submit_max_score' %}">
                                {% csrf_token %}
                                <!-- Скрытое поле для передачи айди задачи в бд -->
                                <input type="hidden" name="task_id" value="{{ values.task_id }}"> <!-- Уникальное значение для каждой задачи -->

                                <input type="number" min="0" placeholder="Введіть бали" name="max_score" class="max-score">
                                <div class="buttons">
                                    <a class="clear-btn">Очистити</a>
                                    <button type="submit" class="submit-btn"> Підтвердити </button>
                                </div>
                            </form>
                        </div>
                        <span class="current-points">
                            Бали за задачу: {{ values.max_points }}
                        </span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div id="class11" class="content">
            {% for key, values in tasks.items %}
                {% if values.class == 11 %}
                    <div class="upload-box" id="box{{ forloop.counter }}">
                        <h1> {{ values.name }} </h1>
                        <div class="update-field">
                            <form method="post" class="task-form" action="{% url 'submit_max_score' %}">
                                {% csrf_token %}
                                <!-- Скрытое поле для передачи айди задачи в бд -->
                                <input type="hidden" name="task_id" value="{{ values.task_id }}"> <!-- Уникальное значение для каждой задачи -->

                                <input type="number" min="0" placeholder="Введіть бали" name="max_score" class="max-score">
                                <div class="buttons">
                                    <a class="clear-btn">Очистити</a>
                                    <button type="submit" class="submit-btn"> Підтвердити </button>
                                </div>
                            </form>
                        </div>
                        <span class="current-points">
                            Бали за задачу: {{ values.max_points }}
                        </span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Получаем все табы
        const tabs = document.querySelectorAll('.tab');

        // Добавляем обработчик клика для каждого таба
        tabs.forEach(tab => {
            tab.addEventListener('click', function () {
                // Получаем атрибут data-class выбранного таба
                const classId = this.getAttribute('data-class');

                // Сброс всех активных табов и скрытие контента
                tabs.forEach(t => t.classList.remove('active-tab'));
                const contents = document.querySelectorAll('.content');
                contents.forEach(content => content.classList.remove('active-content'));

                // Устанавливаем активный таб и показываем соответствующий контент
                this.classList.add('active-tab');
                document.getElementById(classId).classList.add('active-content');
            });
        });
    });
    document.querySelectorAll(".clear-btn").forEach(button =>
        button.addEventListener('click', function () {
            const parent = button.closest('.update-field');
            // Находим поле ввода с классом '.max-score' внутри этого родителя и обнуляем его значение
            const input = parent.querySelector('.max-score');
            if (input) {
                input.value = '';
            }
        }
    ));
    document.getElementsByName('max-score').forEach(element => element.addEventListener('input', function () {
        const value = this.value;
        if (value < 0) {
            if(value !== "") {
                alert('Введіть числове значення більше бао дорівнює 0');
            }
            this.value = ''; // Очистить поле, если значение вне допустимого диапазона
        }
    }));

    document.querySelectorAll('.task-form').forEach(form => {
        form.addEventListener('submit', function (e) {
            e.preventDefault(); // Prevent the normal form submission

            const formData = new FormData(this); // Use 'this' to reference the current form
            const csrftoken = getCookie('csrftoken'); // Ensure you have csrftoken available

            fetch(this.action, { // Use the action attribute of the form
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken,
                },
                body: formData,
            })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(json => {
                        throw new Error(json.message || "Щось пішло не так...");
                    });
                }
                return response.json();
            })
            .then(data => {
                console.log(data);
                alert("Інформацію було оновлено!");
                // Optionally update UI elements like the current points span
                this.closest('.upload-box').querySelector('.current-points').textContent = `Бали за задачу: ${formData.get('max_score')}`;
                this.querySelector('.max-score').value = '';
            })
            .catch(error => {
                console.error('Error:', error);
                alert(error.message); // Display the error message from the catch or throw
            });
        });
    });

</script>