{% load static %}
{% load form_tags %}
{% load i18n  %}

<div class="page-container">
    <div class="tabs">
        <!-- Табы для переключения между классами -->
        <div class="tab active-tab" data-task="9">9 клас</div>
        <div class="tab" data-task="10">10 клас</div>
        <div class="tab" data-task="11">11 клас</div>
    </div>

    <table id="students-table">
        <thead>
            <tr>
                <th>ID учня</th>
                <th>Задача 1</th>
                <th>Задача 2</th>
                <th>Задача 3</th>
                <th>Задача 4</th>
                <th>Задача 5</th>
            </tr>
        </thead>
        <tbody>
            <!-- Заполнение студентов будет осуществляться через JS -->
        </tbody>
    </table>

    <div id="modal-overlay"></div>

    <!-- Модальное окно для оценивания задания -->
    <div id="evaluate-modal">
        <!-- Кнопка закрытия -->
        <div class="modal-icons">
            <i class="fa-regular fa-clipboard" id="evaluate-modal-actions" ></i>
            <i class="fa-solid fa-close" id="evaluate-modal-close" ></i>
        </div>

        <h3 class="modal-title">Задача №</h3>
        <h5 class="modal-user-id">Id учня </h5>
        <form id="evaluation-form" method="post">
            {% csrf_token %}
            <!-- Таблица с критериями будет добавлена через JS -->
            <table>
                <thead>
                    <tr>
                        <th class="th-text">Критерій</th>
                        <th>Оцінка</th>
                        <th>Максимум</th>
                    </tr>
                </thead>
                <tbody id="criteria-table-body">
                    <!-- Строки критериев будут добавлены через JS -->
                </tbody>
            </table>
            <div class="buttons-container">
                <button id="form-clear-btn" type="button">Очистити оцінку</button>
                <button id="form-submit-btn" type="submit">Оцінити</button>
            </div>
        </form>
    </div>
    <div id="actions-modal">
        <!-- Кнопка закрытия -->
        <i class="fa-solid fa-close" id="actions-modal-close" ></i>
        <h3 class="actions-modal-title">Задача №</h3>
        <h5 class="actions-modal-user-id">Id учня </h5>

        <div id="action-messages-container">
            <!-- Строки критериев будут добавлены через JS -->
        </div>

        </div>
</div>
