{% block content %}
{% load static %}
{% load i18n %}
<head>
    <meta charset="UTF-8">
    <title>Список задач</title>
    <link rel="stylesheet" href="{% static 'css/pages/account_features/list_tasks.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

    <div class="centered-container">
        <div class="task">
            <h1 class="big-text">
                {% if user_class == "9" %} «Закільцьовані»
                {% elif user_class == "10" %} «І знов середня швидкість»
                {% elif user_class == "11" %} «Оптика циліндру»
                {% endif %}
            </h1>
            <span class="">
                {% if user_class == "9" %}
                    Три металеві обручі однакового діаметру та однакової товщини, що розташовані у взаємно перпендикулярних площинах, з’єднані між собою в усіх зазначених на рисунку точках. Два з трьох обручів (на рисунку вони показані чорними) зроблені з металу А, третій обруч (на рисунку він сірий) — з металу  Б...
                {% elif user_class == "10" %}
                    Автомобілям заборонено рухатись автотрасою швидше, ніж 50 км/год. А) 	За 	наведеним 	графіком залежності 	середньої̈ 	швидкості автомобілю від часу встановіть, чи не 	порушував 	автомобіль 	цю заборону? Б) Якщо порушував, то в який̆ проміжок часу?

                {% elif user_class == "11" %}
                    Налагоджуючи нове обладнання, молоді робітники навчилися виготовляти на ньому довгі циліндри радіусом 𝒓 = 10 мм з прозорого пластика. Технологічний процес давав на нижньому кінці циліндра плоску поверхню, перпендикулярну до осі циліндра, а на верхньому кінці — конічну поверхню з кутом біля вершини 90 .
                {% endif %}
            </span>
            <a id="1"  class="download-task">
                <i class="fa-solid fa-download"></i>
            </a>
        </div>
        <div class="task">
            <h1 class="big-text">
                {% if user_class == "9" %} «І знов середня швидкість»
                {% elif user_class == "10" %} «Як вимірюють період напіврозпаду»
                {% elif user_class == "11" %} «Молекула водню»
                {% endif %}
            </h1>
            <span class="">
                {% if user_class == "9" %}
                    Машина їде по горизонтальній прямій 	ділянці 	дороги. 	У момент проїзду машини повз автобусну 	зупинку 	пасажир почав 	будувати 	графік залежності середньої швидкості машини 	на 	шляху 	L, пройденому після 	автобусної зупинки, від величини L...
                {% elif user_class == "10" %}
                    Для вимірювання періоду піврозпаду ізотопу радію-226 використовують наступну схему, що показана на рисунку. Під час бета-розпаду металева пластина, на якій знаходиться препарат броміду радію, за рахунок постійного випромінення електронів, заряджається до потенціалу 220 В, унаслідок чого гнучкий лист золотої фольги поступово піднімається, поки не торкнеться заземленого електрода. Зрозуміло, що це приведе до того, що фольга розрядиться...

                {% elif user_class == "11" %}
                    Юний дослідник, знаючи, що в хімічній реакції горіння, виділяється купа енергії, почав висувати теорії, які, на його думку, могли б пояснити це явище: звідки ж ця енергія береться? Після нетривалих роздумів, хлопець, спираючись на свої знання  про будову молекули водню 𝐻2...
                {% endif %}
            </span>

            <a id="2"  class="download-task">
                <i class="fa-solid fa-download"></i>
            </a>
        </div>
    <div class="task">
            <h1 class="big-text">
                {% if user_class == "9" %} «Тиснемо-перетиснемо»
                {% elif user_class == "10" %} «Вода»
                {% elif user_class == "11" %} «Безпечні перевезення»
                {% endif %}
            </h1>
            <span class="">
                {% if user_class == "9" %}
                    Два однакових кубики зі стороною a та масою m з’єднані 	двома 	однаковими 	пружинами 	як зображено на 	рисунку. 	Кожна 	пружина 	має жорсткість k та початкову довжину в нестисненому стані L0...
                {% elif user_class == "10" %}
                    Подивіться на графік. Теплоємність води має мінімум. Існує гіпотеза, що температура теплокровних істот на Землі обумовлена мінімумом теплоємності води. А) Знайдіть найбільшу і найменшу середні питомі теплоємності води, які слід використовувати в розрахунках при нагріванні води в рідкому стані на 20℃ за атмосферного тиску...

                {% elif user_class == "11" %}
                    Маршрут автомобіля, що перевозить в закритій та повністю заповненій цистерні рідину густиною ρ, проходить низкою прямолінійних та криволінійних ділянок. Криволінійні ділянки – дуги кіл. Найбільший радіус криволінійної ділянки Rmax менш, ніж в два рази, більший за найменший радіус Rmin заокруглення дороги...
                {% endif %}
            </span>
            <a id="3"  class="download-task">
                <i class="fa-solid fa-download"></i>
            </a>
        </div>
    <div class="task">
            <h1 class="big-text">
                {% if user_class == "9" %} «Дрова і вода»
                {% elif user_class == "10" %} «Мерефо-Херсонський міст»
                {% elif user_class == "11" %} «Котимося вгору»
                {% endif %}
            </h1>
            <span class="">
                {% if user_class == "9" %}
                    Відомо, що при згорянні вологої деревини виділяється менша кількість теплоти, ніж при згорянні сухої. У таблиці наведені дані для тепловиділення і густини трьох порід деревини за різної вологості й умови повного згоряння...
                {% elif user_class == "10" %}
                    Через Монастирський острів у м. Дніпро проходить найбільший в Україні і один з найбільших у світі арочних мостів. Довжина Мерефо-Херсонського моста понад 1600 м (ширина ріки Дніпро під ним 1250 м). Ці дані легко знайти в інтернеті, але висоту моста знайти практично неможливо...
                {% elif user_class == "11" %}
                    У всесвітньо відомій книжці «Наукові забави. Фізика: досліди, фокуси, розваги»  Тім Тома пропонується зробити кільце з цупкого картону і зсередини прикріпити до нього монету чи просто шматочок пластиліну. Поставити кільце на похилу площину приблизно так, як зображено на рисунку, й обережно відпустити – кільце покотиться вгору.
                {% endif %}
            </span>
            <a id="4"  class="download-task">
                <i class="fa-solid fa-download"></i>
            </a>
        </div>
        <div class="task">
            <h1 class="big-text">
                {% if user_class == "9" %} «Циліндр в акваріумі»
                {% elif user_class == "10" %} «Лабораторна комашка»
                {% elif user_class == "11" %} «Сферичний обігрівач»
                {% endif %}
            </h1>
            <span class="">
                {% if user_class == "9" %}
                    Високий акваріум з основою 12 см * 22 см посередині дна має прямокутний отвір 6 см*20 см. Для того, щоб вода не витікала, перед заповненням акваріуму на його отвір спробували поставити вертикальний порожній короб, зроблений з міцного тонкого прозорого пластику у формі паралелепіпеду без двох протилежних основ розмірами 8 см × 20 см. ..
                {% elif user_class == "10" %}
                    Невеличка 	комаха-мерзлячка 	повадилася відпочивати в фізичній лабораторії, гріючись на розжареній 	електричним 	струмом 	проволоці реостата 	(див. 	малюнок). 	За 	тривалий 	час відпочинку, комаха, штовхаючи лапками ковзний контакт, знайшла таке його розташування, за якого та частина, на якій вона відпочивала, видавала максимальну теплову потужність серед усіх інших можливих положень ковзного контакту...
                {% elif user_class == "11" %}
                    Сашко 	хотів 	зробити обігрівач з кулі радіусом R = 10 см. Куля зроблена з ізолятору, який має дуже велику теплопровідність. Ідея Сашка 	полягає 	в тому, щоб наклеїти на сферу схему однакових дротів, як зображено на рисунку в двох різних ракурсах...
                {% endif %}
            </span>
            <a id="5"  class="download-task">
                <i class="fa-solid fa-download"></i>
            </a>
        </div>
        <div class="task">
            <h1 class="big-text"> Всі задачі в одному файлі</h1>
            <span class="">

            </span>
            <a id="all"  class="download-task">
                <i class="fa-solid fa-download"></i>
            </a>
        </div>
    </div>
<script>
    let user_class = "{{ user_class|safe }}";
    document.addEventListener("DOMContentLoaded", function() {
        const downloadTasks = document.querySelectorAll('.download-task');
        downloadTasks.forEach(task => {
            let id = task.getAttribute('id');
            task.setAttribute('href', '/uk/download/'+id+"_"+user_class+" клас.pdf")
        });
    });
</script>
{% endblock %}
