{% load static %}
{% load i18n %}
<div class="this-page">
    <div class="toolbar large">
        <div class="pc-view">
            <div class="logo">
                <img class="imag" src="{% static 'icons/LogoMain.png' %}" width="200"/>
                <img class="imag2" src="{% static 'icons/Logo2.svg' %}" width="200"/>
            </div>
            <div class="all-links">
            <a href="{% url 'home' %}" class="link">Головна</a>
            <div class="dropdown-container">
                <a class="link link-dropdown">Матеріали</a>
                <div id="materialsDropdownMenu" class="dropdown-menu">
                    <a href="{% url 'materials' %}" class="dropdown-links" title="Матеріали останньої олімпіади"> Матеріали останньої олімпіади </a>
                    <a href="{% url 'olymps:group_grid' %}" class="dropdown-links" title="Завдання інших олімпіа"> Завдання інших олімпіад </a>
                    <a href="{% url 'literature:library_grid' %}" class="dropdown-links" title="Література"> Література </a>
{#                    <a href="{% url 'materials' %}" class="dropdown-links" title="Розв'язки">Розв'язки</a>#}
{#                    <a href="{% url 'materials' %}" class="dropdown-links" title="Результати">Результати</a>#}
{#                    <a href="{% url 'materials' %}" class="dropdown-links" title="Інше">Інше</a>#}
                </div>
            </div>
            <a href="{% url 'news_main' %}" class="link">Новини</a>
            <a href="{% url 'contact_us' %}" class="link">Контакти</a>
            <div class="dropdown-link">
                <a class="link link-dropdown"> Результати та розв'язки </a>
                <div id="results-menu" class="dropdown-menu">
                    <a href="{% url 'tasks_solutions' %}" class="dropdown-links">Розв'язки заочного туру</a>
                    <a href="{% url 'olimp_results' %}" class="dropdown-links">Результати заочного туру</a>
                    <a href="{% url 'final_results' %}" class="dropdown-links">Результати фінального туру</a>
                </div>
            </div>
            <a href="{% url '4_step_results' %}" class="link">Результати 4-го етапу</a>

            {% if user.is_authenticated %}
                <a href="{% url 'profile' feature_name="account" %}" class="link">Акаунт</a>
            {% endif %}
            {% if role == "Admin" %}
                <a href="{% url 'admin_tools' feature_name='dashboard' %}" class="link">Адмін</a>
            {% endif %}
            </div>
            {% if not user.is_authenticated %}
                <a href="{% url 'login'%}" class="link-auth"><img src="{% static 'icons/Vector.png' %}"> Авторизація</a>
            {% endif %}
            {% if user.is_authenticated %}
                <span class="icons-container">
                    <div class="dropdown-container-account">
                        <span class="icon-link account-link-wrapper account-dropdown-trigger" onclick="dropdownTrigger('accountDropdownMenu')">
                            <a id="account-icon">
                                <div id="account-icon-photo">
                                    <span></span>
                                </div>
                                <span class="user-name-navbar">
                                    {% if user.username %}
                                        {{ user.username }}
                                    {% elif user.email %}
                                        {{ user.email }}
                                    {% endif %}
                                </span>
                            </a>
                        </span>
                        <div id="accountDropdownMenu" class="menu">
                            <ul>
                                <li><a href="{% url 'profile' feature_name='account' %}" class="dropdown-link" title="Аккаунт">Аккаунт</a></li>
                                {% if role == "Student" or role == "Admin" %}
                                    <li><a href="{% url 'profile' feature_name='tasks'%}" class="dropdown-link" title="Список задач">Список задач</a></li>
{#                                    <li><a href="{% url 'profile' feature_name='upload'%}" class="dropdown-link" title="Завантажити">Завантажити</a></li>#}

                                {% endif %}
                                {% if role == "Simple_Jury" %}
                                    <li><a href="{% url 'profile' feature_name='tasks'%}" class="dropdown-link" title="Список задач">Список задач</a></li>
                                    <li><a href="{% url 'profile' feature_name='criteria_create'%}" class="dropdown-link" title="Критерії оцінювання">Критерії оцінювання</a></li>
                                    <li><a href="{% url 'profile' feature_name='verification'%}" class="dropdown-link" title="Перевірка">Перевірка</a></li>
                                {% endif %}
                                {% if role == "Main_Jury" %}
                                    <li><a href="{% url 'profile' feature_name='tasks'%}" class="dropdown-link" title="Список задач">Список задач</a></li>
                                    <li><a href="{% url 'profile' feature_name='jury_control'%}" class="dropdown-link" title="Список жюри">Список жюри</a></li>
                                    <li><a href="{% url 'profile' feature_name='criteria_create'%}" class="dropdown-link" title="Критерії оцінювання">Критерії оцінювання</a></li>
                                    <li><a href="{% url 'profile' feature_name='criteria_approve'%}" class="dropdown-link" title="Підтвердити критерії">Підтвердити критерії</a></li>
                                    <li><a href="{% url 'profile' feature_name='verification'%}" class="dropdown-link" title="Перевірка">Перевірка</a></li>
                                {% endif %}
                                {% if rights == "Chat_Admin" or role == "Student" %}
                                    <li><a href="{% url 'profile' feature_name='chat'%}" class="dropdown-link" title="Чат з питаннями">Чат з питаннями</a></li>
                                {% endif %}
                                <li><a href="{% url 'logout' %}" class="dropdown-link" title="Вийти">Вийти</a></li>
                            </ul>
                        </div>
                    </div>
                </span>
            {% endif %}
        </div>
        <div class="mobile-view">
            <div class="logo">
                <img class="imag" src="{% static 'icons/LogoMain.png' %}" width="200"/>
                <img class="imag2" src="{% static 'icons/Logo2.svg' %}" width="200"/>
            </div>

            <div class="right-links-container">
                {% if not user.is_authenticated %}
                    <a href="{% url 'login'%}" class="link-auth"><img src="{% static 'icons/Vector.png' %}"> </a>
                {% endif %}
                <div class="dropdown-links" id="dropdownTrigger">
                    <img id="menuIcon" src="{% static 'icons/Menu.png' %}">
                </div>
            </div>
        </div>
    </div>
    <div id="overlay-mobile" class="overlay-mobile hidden">
        <div class="mobile-dropdown-container">
            <div id="dropdownMenu" class="menu-mobile">
                <ul>
                    <li><a href="{% url 'home' %}" class="dropdown-link-mobile" title="Головна">Головна</a></li>
                    <hr class="hr-link">
                    <li><a href="{% url 'materials' %}" class="dropdown-link-mobile" title="Матеріали">Матеріали</a></li>
                    <hr class="hr-link">
                    <li><a href="{% url 'news_main' %}" class="dropdown-link-mobile" title="Новини">Новини</a></li>
                    <hr class="hr-link">
                    <li><a href="{% url 'contact_us' %}" class="dropdown-link-mobile" title="Контакти">Контакти</a></li>
                    <hr class="hr-link">
                    <li><a href="{% url 'tasks_solutions' %}" class="dropdown-link-mobile" title="Розв'язки">Розв'язки</a></li>
                    <hr class="hr-link">
                    <li><a href="{% url 'olimp_results' %}" class="dropdown-link-mobile" title="Результати">Результати</a></li>
                    <hr class="hr-link">
                    <li><a href="{% url 'final_results' %}" class="dropdown-link-mobile" title="Фінальні результати">Фінальний етап</a></li>
                    <hr class="hr-link">
                    <li><a href="{% url '4_step_results' %}" class="dropdown-link-mobile" title="Результати 4-го етапу">Розв'язки 4-го етапу</a></li>
                    <hr class="hr-link">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' feature_name='account' %}" class="dropdown-link-mobile" title="Аккаунт">Аккаунт</a></li>
                        <hr class="hr-link">
                        {% if role == "Student" or role == "Admin" %}
                            <li><a href="{% url 'profile' feature_name='tasks'%}" class="dropdown-link-mobile" title="Список задач">Список задач</a></li>
                            <hr class="hr-link">
{#                            <li><a href="{% url 'profile' feature_name='upload'%}" class="dropdown-link-mobile" title="Завантажити">Завантажити</a></li>#}
{#                            <hr class="hr-link">#}
                        {% endif %}
                        {% if rights == "Chat_Admin" or role == "Student" %}
                            <li><a href="{% url 'profile' feature_name='chat'%}" class="dropdown-link-mobile" title="Чат з питаннями">Чат з питаннями</a></li>
                            <hr class="hr-link">
                        {% endif %}
                        <li><a href="{% url 'logout' %}" class="dropdown-link-mobile" title="Вийти">Вийти</a></li>
                        <hr class="hr-link">
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <a></a>
    <a></a>
    <div id="overlay" class="overlay"></div>
</div>