{% block content %}

{% load static %}
{% load i18n %}
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>User Auth</title>
    <script src="https://kit.fontawesome.com/ba99d1b9b2.js" crossorigin="anonymous"></script>
    <link rel="icon" href="{% static "icons/LogoMain.png" %}" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-86VH3095NK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-86VH3095NK');
    </script>

</head>
<div class="this-page">
    <div class="toolbar large">
        <div class="pc-view">
            <div class="logo">
                <img class="imag" src="{% static 'icons/LogoMain.png' %}" width="200"/>
                <img class="imag2" src="{% static 'icons/Logo2.svg' %}" width="200"/>
            </div>
            <div class="all-links">
            <a href="{% url 'home' %}" class="link">Головна</a>
            <div class="dropdown-container">
                <a class="link" href="{% url 'materials' %}">Матеріали</a> {# class="link materials-dropdown-trigger" #}
                <div id="dropdownMenu" class="menu">
                    <ul>
                        <li><a href="{% url 'materials' %}?page=terms" class="dropdown-link" title="Умови">Умови</a></li>
                        <li><a href="{% url 'materials' %}?page=solutions" class="dropdown-link" title="Рішення">Рішення</a></li>
                        <li><a href="{% url 'materials' %}?page=results" class="dropdown-link" title="Результати">Результати</a></li>
                        <li><a href="{% url 'materials' %}?page=other" class="dropdown-link" title="Інше">Інше</a></li>
                    </ul>
                </div>
            </div>
            <a href="{% url 'news_main' %}" class="link">Новини</a>
            <a href="{% url 'contact_us' %}" class="link">Контакти</a>
            {% if role == "Admin" %}
                <a href="{% url 'admin_tools' feature_name='home' %}" class="link">Адмін</a>
            {% endif %}
            </div>
            {% if not user.is_authenticated %}
                <a href="{% url 'login'%}" class="link-auth"><img src="{% static 'icons/Vector.png' %}"> Авторизація</a>
            {% endif %}
            {% if user.is_authenticated %}
                <span class="icons-container">
                    <div class="dropdown-container-account">
                        <span class="icon-link account-link-wrapper account-dropdown-trigger" onclick="dropdownTrigger()">
                            <a id="account-icon">
                                <div id="account-icon-photo">
                                    <span></span>
                                </div>
                                <span style="margin-top: 6px">
                                    {% if user.username %}
                                        {{ user.username }}
                                    {% elif user.email %}
                                        {{ user.email }}
                                    {% endif %}
                                </span>
                            </a>
                        </span>
                        <div id="accountDropdownMenu" class="menu">
                            <ul>
                                <li><a href="{% url 'profile' feature_name='account' %}" class="dropdown-link" title="Аккаунт">Аккаунт</a></li>
                                {% if role == "Student" or role == "Admin" %}
                                    <li><a href="{% url 'profile' feature_name='tasks'%}" class="dropdown-link" title="Список задач">Список задач</a></li>
                                    <li><a href="{% url 'profile' feature_name='upload'%}" class="dropdown-link" title="Завантажити">Завантажити</a></li>

                                {% endif %}
                                {% if role == "Simple_Jury" %}
                                    <li><a href="{% url 'profile' feature_name='tasks'%}" class="dropdown-link" title="Список задач">Список задач</a></li>
                                    <li><a href="{% url 'profile' feature_name='criteria_create'%}" class="dropdown-link" title="Критерії оцінювання">Критерії оцінювання</a></li>
                                    <li><a href="{% url 'profile' feature_name='account'%}" class="dropdown-link" title="Перевірка">Перевірка</a></li>
                                {% endif %}
                                {% if role == "Main_Jury" %}
                                    <li><a href="{% url 'profile' feature_name='tasks'%}" class="dropdown-link" title="Список задач">Список задач</a></li>
                                    <li><a href="{% url 'profile' feature_name='jury_control'%}" class="dropdown-link" title="Список жюри">Список жюри</a></li>
                                    <li><a href="{% url 'profile' feature_name='criteria_create'%}" class="dropdown-link" title="Критерії оцінювання">Критерії оцінювання</a></li>
                                    <li><a href="{% url 'profile' feature_name='criteria_approve'%}" class="dropdown-link" title="Підтвердити критерії">Підтвердити критерії</a></li>
                                    <li><a href="{% url 'profile' feature_name='account'%}" class="dropdown-link" title="Перевірка">Перевірка</a></li>
                                {% endif %}
                                {% if rights == "Chat_Admin" or role == "Student" %}
                                    <li><a href="{% url 'profile' feature_name='chat'%}" class="dropdown-link" title="Чат з питаннями">Чат з питаннями</a></li>
                                {% endif %}
                                <li><a href="{% url 'logout' %}" class="dropdown-link" title="Вийти">Вийти</a></li>
                            </ul>
                        </div>
                    </div>
                </span>
            {% endif %}
        </div>
        <div class="mobile-view">
            <div class="logo">
                <img class="imag" src="{% static 'icons/LogoMain.png' %}" width="200"/>
                <img class="imag2" src="{% static 'icons/Logo2.svg' %}" width="200"/>
            </div>

            <div class="right-links-container">
                {% if not user.is_authenticated %}
                    <a href="{% url 'login'%}" class="link-auth"><img src="{% static 'icons/Vector.png' %}"> </a>
                {% endif %}
                <div class="dropdown-links" id="dropdownTrigger">
                    <img id="menuIcon" src="{% static 'icons/Menu.png' %}">
                </div>
            </div>
        </div>
    </div>
    <div id="overlay-mobile" class="overlay-mobile hidden">
        <div class="mobile-dropdown-container">
            <div id="dropdownMenu" class="menu-mobile">
                <ul>
                    <li><a href="{% url 'home' %}" class="dropdown-link-mobile" title="Головна">Головна</a></li>
                    <hr class="hr-link">
                    <li><a href="{% url 'materials' %}" class="dropdown-link-mobile" title="Матеріали">Матеріали</a></li>
                    <hr class="hr-link">
                    <li><a href="{% url 'news_main' %}" class="dropdown-link-mobile" title="Новини">Новини</a></li>
                    <hr class="hr-link">
                    <li><a href="{% url 'contact_us' %}" class="dropdown-link-mobile" title="Контакти">Контакти</a></li>
                    <hr class="hr-link">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' feature_name='account' %}" class="dropdown-link-mobile" title="Аккаунт">Аккаунт</a></li>
                        <hr class="hr-link">
                        {% if role == "Student" or role == "Admin" %}
                            <li><a href="{% url 'profile' feature_name='tasks'%}" class="dropdown-link-mobile" title="Список задач">Список задач</a></li>
                            <hr class="hr-link">
                            <li><a href="{% url 'profile' feature_name='upload'%}" class="dropdown-link-mobile" title="Завантажити">Завантажити</a></li>
                            <hr class="hr-link">
                        {% endif %}
                        {% if rights == "Chat_Admin" or role == "Student" %}
                            <li><a href="{% url 'profile' feature_name='chat'%}" class="dropdown-link-mobile" title="Чат з питаннями">Чат з питаннями</a></li>
                            <hr class="hr-link">
                        {% endif %}
                        <li><a href="{% url 'logout' %}" class="dropdown-link-mobile" title="Вийти">Вийти</a></li>
                        <hr class="hr-link">
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <a></a>
    <a></a>
    <div id="overlay" class="overlay"></div>
</div>
<script>

document.addEventListener("DOMContentLoaded", () => {
    var dropdownTrigger = document.getElementById("dropdownTrigger");
    var overlay = document.getElementById("overlay-mobile");
    var menuIcon = document.getElementById("menuIcon");

    dropdownTrigger.addEventListener("click", function() {
        overlay.classList.toggle("visible");
        overlay.classList.toggle("hidden");
        menuIcon.src = overlay.classList.contains("visible")
            ? "{% static 'icons/Cross.png' %}"
            : "{% static 'icons/Menu.png' %}";
    });

    // Закрываем оверлей при клике на любую ссылку или на сам оверлей
    overlay.addEventListener("click", function(e) {
        if (e.target === overlay || e.target.tagName === "A") {
            overlay.classList.remove("visible");
            overlay.classList.add("hidden");
            menuIcon.src = "{% static 'icons/Menu.png' %}";
        }
    });
});

{#document.querySelector('.materials-dropdown-trigger').addEventListener('click', function(event) {#}
{#    const dropdownMenu = document.getElementById('dropdownMenu');#}
{#    dropdownMenu.classList.toggle('open');#}
{#    event.stopPropagation();#}
{#);#}
function dropdownTrigger(){
{#document.querySelector('.account-dropdown-trigger').addEventListener('click', function(event) {#}
    const dropdownMenu = document.getElementById('accountDropdownMenu');
    dropdownMenu.classList.toggle('open');
    event.stopPropagation();
}

document.addEventListener('click', function() {
    const dropdownMenu = document.getElementById('dropdownMenu');
    if(document.getElementById('accountDropdownMenu')) {
        const accountDropdownMenu = document.getElementById('accountDropdownMenu');
        dropdownMenu.style.display = 'none';
        accountDropdownMenu.classList.remove('open');
    }
});

let key = "{{ session.session_key }}";


window.addEventListener('scroll', function() {
    let toolbar = document.querySelector('.toolbar');
    // Check if the page is scrolled more than 50 pixels
    if(window.pageYOffset > 50) {
        // User has scrolled down, shrink the toolbar
        toolbar.classList.remove('large');
        toolbar.classList.add('small');
    } else {
        // User is near the top of the page, expand the toolbar
        toolbar.classList.remove('small');
        toolbar.classList.add('large');
    }
});

function confirmLogout(event) {
    // Show a confirmation dialog
    let confirmation = confirm("Are you sure you want to log out?");

    // If the user clicks "Cancel", prevent the default link action
    if (!confirmation) {
      event.preventDefault();
      return false;
    }
    // If the user confirms, allow the default link action (logout)
    return true;
}

document.getElementById('overlay').addEventListener('click', function() {
    document.getElementById('cartPanel').classList.remove('open');
    document.getElementById('side_acc_wrap').classList.remove('open');
    this.style.display = 'none'; // Hide the overlay
});


function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
</html>
{% endblock %}