{% load static %}
{% load i18n %}

<style>
    th input{
        width: 90px;
    }
</style>

<div class="users-page-container">

    <div class="table-header">
        <select id="bulk-actions" disabled value="Bulk actions">
            <option value="" disabled selected>Bulk actions</option>
            <option value="Enable selected">Enable selected</option>
            <option value="Disable selected">Disable selected</option>
            <option value="Delete accounts"> Delete selected</option>
        </select>
        <button id="remove-filters" style="display: none;">Remove all filters</button>
    </div>
    <div data-table-id="users-control-table">
        <table id="usersTable">
            <thead>
                <tr>
                    <th></th>
                    <th>ID<span class="arrow-sorting"><i class="sort-arrow fa-solid fa-x"></i></span></th>
                    <th>Ім'я<span class="arrow-sorting"><i class="sort-arrow fa-solid fa-x"></i></span></th>
                    <th>Прізвище<span class="arrow-sorting"><i class="sort-arrow fa-solid fa-x"></i></span></th>
                    <th>По батькові<span class="arrow-sorting"><i class="sort-arrow fa-solid fa-x"></i></span></th>
                    <th>Емейл<span class="arrow-sorting"><i class="sort-arrow fa-solid fa-x"></i></span></th>
                    <th>Школа<span class="arrow-sorting"><i class="sort-arrow fa-solid fa-x"></i></span></th>
                    <th>Статус акаунту<span class="arrow-sorting"><i class="sort-arrow fa-solid fa-x"></i></span></th>
                    <th>Паралель<span class="arrow-sorting"><i class="sort-arrow fa-solid fa-x"></i></span></th>
                    <th>Дата реєстрації<span class="arrow-sorting"><i class="sort-arrow fa-solid fa-x"></i></span></th>
                    <th>Дії</th>
                </tr>
            </thead>
            <tbody>
                <!-- Rows will be inserted here by JavaScript -->
            </tbody>
        </table>
        {% include "widgets/tablePaginationFooter.html" %}
    </div>
</div>
<div id="contextMenu" class="context-menu" style="display: none;">
    <ul>
        <li id="viewUser">View User</li>
        <li id="deleteUser">Delete User</li>
    </ul>
</div>
{% include "widgets/overlay.html" %}