{% load static %}
{% load i18n %}

<style>
    th input{
        width: 90px;
    }
</style>

<div class="users-page-container">

    <div class="table-header">
        <select id="bulk-actions" disabled value="Bulk actions">
            <option value="" disabled selected>Дії</option>
            <option value="Enable selected"> Активувати обраних </option>
            <option value="Disable selected"> Деактивувати обраних </option>
            <option value="Delete accounts"> Видалити обраних </option>
        </select>
        <button id="remove-filters" style="display: none;">Прибрати фільтри</button>
    </div>
    <div data-table-id="users-control-table">
        <div class="table-wrap">
            <table id="usersTable">
                <colgroup id="usersColGroup"></colgroup>
                <thead id="usersThead"></thead>
                <tbody id="usersTbody"></tbody>
            </table>
        </div>
        {% include "widgets/tablePaginationFooter.html" %}
    </div>
</div>
<div id="contextMenu" class="context-menu" style="display: none;">
    <ul>
        <li id="viewUser">Відомості акаунта</li>
        <li id="deleteUser">Видалити акаунт</li>
    </ul>
</div>
{% include "widgets/overlay.html" %}