{% load static %}
{% load i18n %}
<div class="container-menu">
    <div class="myaccount">
        <div class="this-table">
            <div class="links">
                <a class="active-page page-account active" href="{% url 'profile' feature_name='account'%}">
                    <span>Акаунт</span>
                </a>
            {% if role == "Student" or role == "Admin" or role == "Simple_Jury" or role == "Main_Jury" %}
                <a class="active-page page-tasks" id="history-link" href="{% url 'profile' feature_name='tasks'%}">
                    <span>Список задач</span>
                </a>
            {% endif %}
            {% if role == "Student" or role == "Admin" %}
                <a class="active-page page-upload" id="history-link" href="{% url 'profile' feature_name='upload'%}">
                    <span>Завантажити</span>
                </a>
            {% endif %}
            {% if role == "Main_Jury" or role == "Admin" %}
                <a class="active-page page-points" id="history-link" href="{% url 'profile' feature_name='points'%}">
                    <span> Властивості задач </span>
                </a>
            {% endif %}
            {% if role == "Main_Jury" or role == "Admin" %}
                <a class="active-page page-jury_control" id="history-link" href="{% url 'profile' feature_name='jury_control'%}">
                    <span> Список журі </span>
                </a>
            {% endif %}
            {% if role == "Main_Jury" or role == "Admin" or role == "Simple_Jury" %}
                <a class="active-page page-criteria_create" id="history-link" href="{% url 'profile' feature_name='criteria_create'%}">
                    <span> Створити критерії </span>
                </a>
            {% endif %}
            {% if role == "Main_Jury" or role == "Admin" %}
                <a class="active-page page-criteria_approve" id="history-link" href="{% url 'profile' feature_name='criteria_approve'%}">
                    <span> Підтвердити критерії </span>
                </a>
            {% endif %}
            {% if role != "Student"  %}
                <a class="active-page page-verification" id="history-link" href="{% url 'profile' feature_name='verification'%}">
                    <span> Перевірка </span>
                </a>
            {% endif %}
            {% if role == "Student" or rights == "Chat_Admin"%}
                <a class="active-page page-chat" id="history-link" href="{% url 'profile' feature_name='chat'%}">
                    <span>Чат з питаннями</span>
                </a>
            {% endif %}
            </div>
        </div>
    </div>
</div>
