{% load static %}
{% load i18n %}
<section id="content" class="page-content col-md-12 col-lg-9 myacc_content">
    <header class="page-header">
    </header>
    <form action="" id="customer-form" class="js-customer-form" method="post" autocomplete="off" enctype="multipart/form-data">
        <div>
            <div class="form-group row">
                <div class="col-md-12">
                    <div class="profile-image">
                        <img src="{{ user_info.photo_url }}" alt="Profile Picture" id="currentProfilePicture">
                        <div class="profile-image-text">
                            <label class="label-profilePicture" for="profile_picture">Формат JPG або PNG, максимум 5 MB</label>
                            <div class="upload-btn-wrapper">
                                <button class="btn-upload">Завантажити фото</button>
                                <input type="file" name="profile_picture" id="fileInput">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-md-12">
                    <label>Ім’я</label>
                    <input class="form-control" name="firstname" type="text" value="{{ user_info.first_name }}" required="">
                </div>
                <div class="col-md-12 form-control-comment">
                    <span class="req"></span>
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-md-12">
                    <label>Прізвище</label>
                    <input class="form-control" name="lastname" type="text" value="{{ user_info.last_name }}" required=""></div>
                <div class="col-md-12 form-control-comment">
                    <span class="req"></span>
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-md-12">
                    <label>По батькові</label>
                    <input class="form-control" name="thirdname" type="text" value="{{ user_info.third_name }}" required=""></div>
                <div class="col-md-12 form-control-comment">
                    <span class="req"></span>
                </div>
            </div>
            <hr>
            <div class="form-group row ">
                <div class="col-md-12">
                    <label>Логін</label>
                    <input class="form-control" name="login" type="text" value="{{ user_info.login }}" required="">
                </div>
                <div class="col-md-12 form-control-comment">
                    <span class="req"></span>
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-md-12">
                    <label>Номер телефону</label>
                    <input class="form-control" name="phone_number" type="text" value="{{ user_info.phone }}" required="">
                </div>
                <div class="col-md-12 form-control-comment">
                    <span class="req"></span>
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-md-12">
                    <label>Електронна пошта</label>
                    <input class="form-control" name="email" type="email" value="{{ user_info.email }}" required="">
                </div>
                <div class="col-md-12 form-control-comment">
                    <span class="req"></span>
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-md-12">
                    <label>Пароль</label>
                    <div class="input-group js-parent-focus">
                        <input class="form-control js-child-focus js-visible-password" name="password" type="password" value="" pattern=".{5,}" required="" autocomplete="off">
                        <span class="input-group-btn">
                            <button class="btn material-icons" type="button" data-action="show-password" data-text-show="" data-text-hide="">
                                <i>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye-off"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg>
                                </i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-12 form-control-comment">
                    <span class="req"></span>
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-md-12">
                    <label>Підтвердження паролю</label>
                    <div class="input-group js-parent-focus">
                        <input class="form-control js-child-focus js-visible-password" name="new_password" type="password" value="" pattern=".{5,}">
                        <span class="input-group-btn">
                            <button class="btn material-icons" type="button" data-action="show-password" data-text-show="" data-text-hide="">
                                <i>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye-off"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg>
                                </i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-12 form-control-comment"></div>
            </div>
            <hr>
            <div class="form-group row ">
                <div class="col-md-12 form-control-comment">
                    <span class="req"></span>
                </div>
                <div class="col-md-12">
                    <label>Школа</label>
                    <input class="form-control" name="school" type="text" value="{{ user_info.school }}" required="">
                </div>
                <div class="col-md-12 form-control-comment"></div>
            </div>
            <div class="form-group row ">
                <div class="col-md-12 form-control-comment">
                    <span class="req"></span>
                </div>
                <div class="col-md-12 form-control-valign">
                    <label>Паралель</label>
                    <select class="form-control form-control-select js-country" name="paralel" id="select-paralel">
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                    </select>
                </div>
                <div class="col-md-12 form-control-comment"></div>
            </div>
        </div>
        <footer class="form-footer clearfix">
            <input type="hidden" name="submitCreate" value="1">
            <button class="btn btn-submit-form btn-primary wide form-control-submit float-xs-right" data-link-action="save-customer" type="submit"> Зберегти </button>
        </footer>
    </form>
</section>
