{% load static %}
{% load i18n %}

<div class="centered-container">
    <div class="task">
        <h1 class="big-text">
            {% if user_class == "9" %} «Серед морів, серед крижин живе розумненький пінгвін!»
            {% elif user_class == "10" %} «Під градусом»
            {% elif user_class == "11" %} «Поневолений заряд»
            {% endif %}
        </h1>
        <span class="">
            {% if user_class == "9" %}
                Пінгвін Понго полюбляє не тільки
                спортивне плавання, але і фізику,
                і вміє знаходити найвигідніші
                шляхи, добираючись до цілі за
                найкоротший час. Однак при
                цьому Понго завжди поспішає і
                розглядає лише траєкторії, які
                мало відхиляються від прямої
            {% elif user_class == "10" %}
                У безвітряну погоду йде дощ. На горизонтальному шосе стоїть автомобіль, на боковому
                склі якого періодично з’являються водяні риски, паралельні вертикальній границі скла.
            {% elif user_class == "11" %}
                Усередину тонкої металевої сфери радіуса R, повний заряд якої рівний Q, та яка
                віддалена від всіх інших об’єктів, поміщено точковий заряд q на відстань 𝑟 (0 < 𝑟 < 𝑅)
                від центру сфери
            {% endif %}
        </span>
        <a id="1" class="download-task">
            <i class="fa-solid fa-download"></i>
        </a>
    </div>
    <div class="task">
        <h1 class="big-text">
            {% if user_class == "9" %} «Вангуємо покази амперметра!»
            {% elif user_class == "10" %} «Реклама – двигун прогресу»
            {% elif user_class == "11" %} «Індуктивність»
            {% endif %}
        </h1>
        <span class="">
            {% if user_class == "9" %}
                У схемі, показаній на рисунку, потужності, що
                виділяються на резисторах 1 і 2 дорівнюють
                відповідно Р і 2Р, напруга на колі U, а амперметр
                А1 показує значення сили струму I0
            {% elif user_class == "10" %}
                Після аварії судна група пасажирів опинилася на
                безлюдному острові. Вони не сиділи без діла — з уламків
                свого судна спорудили нове, своєрідний вітрильник.
                Замість вітрила вони пристосували великий вертикальний
                рекламний щит, який можна було повертати навколо
                вертикальної осі (щогли)
            {% elif user_class == "11" %}
                Визначте індуктивність двох систем
                завдовжки 𝒍, поперечні перерізи яких показані
                на рисунку: А) двосмугової електричної шини
                (𝑎 ≪ 𝑑 ≪ 𝑏); Б) коаксіального кабелю
            {% endif %}
        </span>

        <a id="2" class="download-task">
            <i class="fa-solid fa-download"></i>
        </a>
    </div>
<div class="task">
        <h1 class="big-text">
            {% if user_class == "9" %} «Важіль на намистинці»
            {% elif user_class == "10" %} «Ядерний більярд»
            {% elif user_class == "11" %} «Термодинамічна карта»
            {% endif %}
        </h1>
        <span class="">
            {% if user_class == "9" %}
                На рисунку показаний важіль 𝐴𝐵, до кінців
                важеля прив’язані кінці невагомої нитки,
                що огинає два нерухомі блоки 𝐶,𝐷.
                Уздовж нитки може ковзати масивна
                «намистинка» 𝐸. Важіль і нитка невагомі,
                тертя відсутнє
            {% elif user_class == "10" %}
                Яку мінімальну енергію повинна мати 𝛼-частинка (ядро гелію-4) масою 𝑚𝛼 щоб при
                лобовому ударі з нерухомим ядром хімічного елемента з порядковим номером Z та
                масою 𝑚z
            {% elif user_class == "11" %}
                На рисунку наведений графік процесу з ідеальним
                газом (розрідженим вуглекислим газом) у координатах
                U, Q (тут U — внутрішня енергія газу, Q— отримана
                газом кількість теплоти)
            {% endif %}
        </span>
        <a id="3" class="download-task">
            <i class="fa-solid fa-download"></i>
        </a>
    </div>
<div class="task">
        <h1 class="big-text">
            {% if user_class == "9" %} «Безсенсовий камін»
            {% elif user_class == "10" %} «Допоможіть Робінзонам!»
            {% elif user_class == "11" %} «Терези Тараса».
            {% endif %}
        </h1>
        <span class="">
            {% if user_class == "9" %}
                Уявіть собі камін, який не віддає жодного тепла в кімнату, в якій він знаходиться, хоча
                в ньому й спалюється вугілля. Висота теплоізольованої від навколишнього середовища
                труби димаря каміна дорівнює h.
            {% elif user_class == "10" %}
                Біля берегів безлюдного тропічного
                острова потонуло торгівельне
                судно. У катастрофі вижило
                декілька членів екіпажу, які
                висадились на березі острова. Разом
                з ними хвилі викинули на берег
                декілька скринь, в яких
                «новоприбулі аборигени» знайшли
                масу потрібних та не зовсім речей,
                серед яких була й зорова труба.
                Діаметр об’єктива труби 5 см,
                оптична сила його лінзи +1,25 дптр,
                а оптична сила окуляра + 14 дптр.
            {% elif user_class == "11" %}
                У всесвітньо відомій книжці Тім Тома «Наукові
                забави. Фізика: досліди, фокуси, розваги»
                пропонується зробити терези з нитки, кінці якої
                прикріпити на однаковій висоті, а однакові шальки
                терезів підвісити симетрично
            {% endif %}
        </span>
        <a id="4"  class="download-task">
            <i class="fa-solid fa-download"></i>
        </a>
    </div>
    <div class="task">
        <h1 class="big-text">
            {% if user_class == "9" %} «Гламурний кулькопідшипник»
            {% elif user_class == "10" %} «Електричне коло від Фібоначчі»
            {% elif user_class == "11" %} «Коло конденсаторів від Фібоначчі»
            {% endif %}
        </h1>
        <span class="">
            {% if user_class == "9" %}
                Один з приладів космічного корабля потребує
                використання відшліфованих до сферичної форми
                алмазів, діаметром 𝑑 = 1 см кожний. Алмазні кулі
                мають розміщатися ззовні золотого циліндру і
                всередині платинового (див. схем. Рис.)
            {% elif user_class == "10" %}
                На рисунку зображено
                нескінченне коло з резисторів.
                Опори резисторів між точками
                АіАі+1 та АіБі мають вам нагадати
                числовий ряд Фібоначчі. Відомо,
                що опір кола дорівнює α·R, де α
                - відомий коефіцієнт, R - опір
                першого резистора.
            {% elif user_class == "11" %}
                На рисунку зображене нескінченне коло з
                конденсаторів. Ємності конденсаторів між
                точками АіАі+1 та АіБі мають вам нагадати
                числовий ряд Фібоначчі. Відомо, що
                ємність кола дорівнює α·С, де α - відомий
                коефіцієнт, С – ємність першого
                конденсатора.

            {% endif %}
        </span>
        <a id="5"  class="download-task">
            <i class="fa-solid fa-download"></i>
        </a>
    </div>
    <div class="task">
        <h1 class="big-text"> Всі задачі в одному файлі</h1>
        <span class="">

        </span>
        <a id="all" class="download-task">
            <i class="fa-solid fa-download"></i>
        </a>
    </div>
</div>