{% extends 'base.html' %}
{% load static %}

{% block title %} Admin tools {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/admin_tools/admin_tools_main.css" %}">
{% endblock %}

{% block content %}
<div class="container-page">
    {% include 'admin_tools/AT_side_menu.html' %}
    {% if feature_name == 'dashboard' %}
        {% include 'admin_tools/AT_dashboard.html' %}
    {% elif feature_name == 'users_control' %}
        {% include 'admin_tools/AT_users_control.html' %}
    {% elif feature_name == 'registrations_control' %}
        {% include 'admin_tools/AT_users_control.html' %}
    {% elif feature_name == 'edit_user' %}
        {% include 'admin_tools/AT_UC_edit_user.html' %}
    {% elif feature_name == 'view_user' %}
        {% include 'admin_tools/AT_UC_view_user.html' %}
    {% elif feature_name == 'manage_articles' %}
        {% include 'admin_tools/AT_manage_articles.html' %}
    {% endif %}
</div>
{%endblock%}