{% block content %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="{% static 'css/profile/profile_information.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile/profile_favourites.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{#    <link rel="icon" href="{% static "images/icons/web-icon.png" %}" type="image/x-icon">#}
    <script src="{% static "js/product_cards.js" %}"></script>
    <script src="{% static "js/productsTransmutation.js" %}"></script>
    {% include 'widgets/navigation_bar.html' %}
</head>
<body>
<style>
    .centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.carousel {
    overflow: hidden;
    position: relative;
    width: 1240px; /* Match the width of your images */
    height: 500px; /* Match the height of your images */
}

.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;  // Ensures a smooth transition
    text-align: center;
}

.carousel-item.active {
    opacity: 1;
}

.carousel-item img {
    width: 100%; /* Adjust based on your needs */
    vertical-align: middle;
}

</style>
{# TODO: добавить логотипы и название олимпиады  #}
<div class="centered-container" style="margin-top: 120px">

{# TODO: на главной странице тут нужно сделать разделение на 2 части:  #}
{# TODO: первая это информационная часть для всех студентов с прикрепленным сверху важным сообщением #}
{# TODO: вторая это Лист по проведению олимпиады  #}

{#      <h1 style="font-weight: 650">Welcome to the home page, {% if user.first_name %} {{ user.first_name }} {% elif user.email %} {{ user.email }} {% else %}  {% endif %} {{ user.last_name|default:"" }}!</h1>#}

    <div class="containerr">
        <h3>Новини олімпіади з фізики</h3>
    </div>
    <div class="containerr">
        <div class="carousel-view">
            <button id="prev-btn" class="prev-btn">
                <svg viewBox="0 0 512 512" width="20" title="chevron-circle-left">
                    <path d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z" />
                </svg>
            </button>
            <div id="item-list" class="item-list">
               {% for article in articles %}
                <div class="product-container">
                    <img src="{{ article.mini_article_photo.url }}" alt="{{ article.mini_article_name }}" width="250" height="100">
                    <h3>{{ article.article_name }}</h3>
                    <p>{{ article.mini_article_text }}</p>
                </div>
                {% empty %}
                <p>No articles found.</p>
                {% endfor %}
            </div>
            <button id="next-btn" class="next-btn">
                <svg viewBox="0 0 512 512" width="20" title="chevron-circle-right">
                    <path d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z" />
                </svg>
            </button>
        </div>
    </div>

</div>
<dialog id="product-card">

</dialog>
<dialog id="product-card-success" >

</dialog>
{% include "widgets/footer.html" %}
</body>
<script>


    function setupItemsCarousel(){
        const prev = document.getElementById('prev-btn');
        const next = document.getElementById('next-btn');
        const list = document.getElementById('item-list');

        const itemWidth = 250;
        let autoScroll = setInterval(function () {
            list.scrollLeft += itemWidth;
            // Reset to the beginning if it reaches the end
            if (list.scrollWidth - list.clientWidth === list.scrollLeft) {
                list.scrollLeft = 0;
            }
        }, 6000); // Scroll every 9000 milliseconds

        prev.addEventListener('click', () => {
            list.scrollLeft -= itemWidth;  // Adjusted to include gap
            resetAutoScroll();
        });
        next.addEventListener('click', () => {
            list.scrollLeft += itemWidth;  // Adjusted to include gap
            resetAutoScroll();
        });

        function resetAutoScroll() {
            clearInterval(autoScroll);
            autoScroll = setInterval(function () {
                list.scrollLeft += itemWidth;
                // Reset to the beginning if it reaches the end
                if (list.scrollWidth - list.clientWidth === list.scrollLeft) {
                    list.scrollLeft = 0;
                }
            }, 6000);
        }
    }

    document.addEventListener("DOMContentLoaded", async function () {
        {#console.log(articles);#}
        {#const list = document.getElementById('item-list');#}
        {#// Clear existing items#}
        {#list.innerHTML = '';#}
        {##}
        {#// Generate new items from the articles data#}
        {#articles.forEach(article => {#}
        {#    const item = document.createElement('div');#}
        {#    item.className = 'product-container';#}
        {#    console.log(article);#}
        {#    item.innerHTML = `#}
        {#        <img src="{{ article.mini_article_photo.url }}" alt="description">#}
        {#        <h3>${article.fields.article_name}</h3>#}
        {#        <p>${article.fields.mini_article_text}</p>#}
        {#    `;#}
        {#        console.log("{{ article.mini_article_photo.url }}");#}
        {#    list.appendChild(item);#}
        {#);#}
        setupItemsCarousel();

    });


</script>
</html>
{%endblock%}