{% extends 'base.html' %}
{% load static %}
{% block title %} Профіль {% endblock %}
{% block page_meta %}
 <meta name="profileConfig" content='{
        "featureName": "{{ feature_name }}",
        "uploadSolutionUrl": "{% url 'upload_file' %}",
        "urlUpdateUserAccount": "{% url 'update_user_account' %}",
        "urlProfileAccount": "{% url 'profile' feature_name='account' %}",
        "userClass": "{{ user_class }}",
        "submitCriteriaUrl": "{% url 'submit_criteria' %}",
        "approveCriteriaUrl": "{% url 'approve_criteria' %}",
        "rejectCriteriaUrl": "{% url 'reject_criteria' %}",
        "apiEvaluateTaskUrl": "{% url "api_evaluate_task" %}",
        "apiClearEvaluationUrl": "{% url "api_clear_evaluation" %}",
        "currentTour": {{ current_tour }}
    }'>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/profile/profile_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile/profile_menu.css' %}">
    {% if feature_name == 'dashboard' %}
        <link rel="stylesheet" href="{% static 'css/profile/profile_information.css' %}">
    {% elif feature_name == 'tasks' %}
        <link rel="stylesheet" href="{% static 'css/pages/account_features/list_tasks.css' %}">
    {% elif feature_name == 'account' %}
        <link rel="stylesheet"  href="{% static 'css/profile/profile_information.css' %}">
        <link rel="stylesheet"  href="{% static 'css/profile/account_info.css' %}">
    {% elif feature_name == 'upload' %}
         <link rel="stylesheet" href="{% static 'css/pages/account_features/uploading.css' %}">
    {% elif feature_name == 'points' %}
        <link rel="stylesheet" href="{% static 'css/Jury/points_update.css' %}">
    {% elif feature_name == 'jury_control' %}
        <link rel="stylesheet" href="{% static 'css/Jury/jury_control.css' %}">
    {% elif feature_name == 'criteria_create' %}
        <link rel="stylesheet" href="{% static 'css/Jury/jury_criteria_create.css' %}">
    {% elif feature_name == 'criteria_approve' %}
        <link rel="stylesheet" href="{% static 'css/Jury/jury_criteria_approve.css' %}">
    {% elif feature_name == 'verification' %}
        <link rel="stylesheet" href="{% static 'css/Jury/jury_tasks_verification.css' %}">
    {% elif feature_name == 'chat' %}
        <link rel="stylesheet" href="{% static 'css/SeparateWidgets/chat.css' %}">
    {% endif %}
{% endblock %}
{% block content %}
    <div class="cont1-1 margin-profile">
        {% include 'profile/profile_side_menu.html' %}
        {% if feature_name == 'dashboard' %}
            {% include 'profile/profile_dashboard.html' %}
        {% elif feature_name == 'tasks' %}
            {% include 'profile/tasks_list.html' %}
        {% elif feature_name == 'account' %}
            {% include 'profile/profile_information.html' %}
        {% elif feature_name == 'upload' %}
            {% include 'profile/profile_upload.html' %}
        {% elif feature_name == 'points' %}
            {% include 'uaolimpiad/J_tools/J_points_update.html' %}
        {% elif feature_name == 'jury_control' %}
            {% include 'uaolimpiad/J_tools/J_jury_control.html' %}
        {% elif feature_name == 'criteria_create' %}
            {% include 'uaolimpiad/J_tools/J_criteria_create.html' %}
        {% elif feature_name == 'criteria_approve' %}
            {% include 'uaolimpiad/J_tools/J_criteria_approve.html' %}
        {% elif feature_name == 'verification' %}
            {% include 'uaolimpiad/J_tools/J_tasks_verification.html' %}
        {% elif feature_name == 'chat' %}
            {% include 'profile/profile_chat.html' %}
        {% endif %}
    </div>

{% endblock %}

{% block extra_js %}
    {{ config_data|json_script:"config-data" }}
    <script src="{% static 'js/pages/profile/profileMain.js' %}"></script>
    {% if feature_name == 'dashboard' %}
    {% elif feature_name == 'tasks' %}
        <script src="{% static "js/pages/profile/profileTasksList.js" %}"></script>
    {% elif feature_name == 'account' %}
        <script src="{% static "js/pages/profile/profileInformation.js" %}"></script>
    {% elif feature_name == 'upload' %}
        <script src="{% static "js/pages/profile/profileUploadSolutions.js" %}"></script>
    {% elif feature_name == 'points' %}
        <script src="{% static "js/pages/profile/profilePointsUpdate.js" %}"></script>
    {% elif feature_name == 'jury_control' %}
    {% elif feature_name == 'criteria_create' %}
        <script src="{% static "js/pages/profile/profileCriteriaCreate.js" %}"></script>
    {% elif feature_name == 'criteria_approve' %}
        <script src="{% static "js/pages/profile/profileCriteriaApprove.js" %}"></script>
    {% elif feature_name == 'verification' %}
        <script type="module" src="{% static "js/pages/profile/profileTasksVerification.js" %}"></script>
    {% elif feature_name == 'chat' %}
    {% endif %}
{% endblock %}




