{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Reset password {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/profile/profile_information.css" %}">
    <link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock %}

{% block content %}
<div id="errorModal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <p id="errorText"></p>
            <button id="okButton">OK</button>
        </div>
    </div>
<div class="main-block-login" style="background-image: url('{% static "images/home/imgs/FonMainOlimp.png" %}')">

    <section id="wrapper" class="stick_parent_lb" >

        <header class="">
            <h1> Впишіть емейл акаунту на якому Ви забули пароль</h1>
        </header>
        <section id="content" class="page-content">
            <section class="login-form">
                <form id="login-form" method="post">
                    {% csrf_token %}
                    <div>
                        <input type="hidden" name="back" value="my-account">
                        <div class="form-group row ">
                            <div class="col-md-12 form-control-comment">
                                <span class="req"></span>
                            </div>
                            <div class="col-md-12">
                                <label>Емейл</label>
                                {{ form.email | add_class:"form-control" | attr:"placeholder: " }}
                            </div>
                        </div>
                    </div>
                    <footer class="form-footer text-sm-center clearfix">
                        <button style="width: 100%" class="btn btn-primary" data-link-action="sign-in" type="submit">
                            Надіслати
                        </button>
                    </footer>
                </form>
            </section>
            <div>
                Новий на нашій платформі? <a href="{% url "register" %}" data-link-action="display-register-form">Створити акаунт</a>
            </div>
        </section>
    </section>
</div>
{% endblock %}