{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Реєстрація до школи {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/profile/profile_information.css" %}">
    <link rel="stylesheet" href="{% static "css/schoolRegistration.css" %}">
{% endblock %}

{% block content %}
<div id="errorModal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <p id="errorText"></p>
        <button id="okButton">OK</button>
    </div>
</div>

<section id="wrapper" class="stick_parent_lb">
    <div class="container">
        <div id="content-wrapper">
            <section id="main">
                <div class="container">
                    <header class="text-align-center">
                        <h1 class="f-600-block"> Реєстрація до онлайн школи з фізики </h1>
                    </header>
                    <section id="content" class="page-content card card-block">
                        <section class="register-form">
                            <form action="{% url 'school_registration' %}" id="customer-form" class="js-customer-form" method="post" novalidate>
                            {% csrf_token %}
                                <div>
                                    <div class="form-group row">
                                        <div class="col-md-12 form-control-comment">
                                            <span class="req">*</span>
                                        </div>
                                        <div class="col-md-12">
                                            <label>Ім'я</label>
                                            {{ form.firstName_uk | add_class:"form-control" | attr:"" }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12 form-control-comment">
                                            <span class="req">*</span>
                                        </div>
                                        <div class="col-md-12">
                                            <label>Прізвище</label>
                                            {{ form.lastName_uk | add_class:"form-control" | attr:"" }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12 form-control-comment">
                                            <span class="req">*</span>
                                        </div>
                                        <div class="col-md-12">
                                            <label>По батькові</label>
                                            {{ form.patronymic_uk | add_class:"form-control" | attr:"" }}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-12 form-control-comment">
                                            <span class="req">*</span>
                                        </div>
                                        <div class="col-md-12">
                                            <label> Ім'я (лат.) </label>
                                            {{ form.firstName_en | add_class:"form-control" | attr:"" }}
                                            <span class="form-control-comment"> (Латиницею, як у паспорті) </span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12 form-control-comment">
                                            <span class="req">*</span>
                                        </div>
                                        <div class="col-md-12">
                                            <label> Прізвище (лат.) </label>
                                            {{ form.lastName_en | add_class:"form-control" | attr:"" }}
                                            <span class="form-control-comment"> (Латиницею, як у паспорті) </span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group row">
                                        <div class="col-md-12 form-control-comment">
                                            <span class="req">*</span>
                                        </div>
                                        <div class="col-md-12">
                                            <label>Ви навчаєтесь в Україні?</label>
                                            <div class="checkmark-container yesno" data-show="#school-fields">
                                                {{ form.studyInUkraine }}
                                            </div>
                                        </div>
                                    </div>
                                    <div id="school-fields">
                                      <div class="form-group row">
                                        <div class="col-md-12">
                                          <label>Область в якій ви навчаєтесь</label>
                                          {{ form.schoolOblast|add_class:"form-control" }}
                                        </div>
                                        <div class="col-md-12">
                                          <label>Номер школи</label>
                                          {{ form.schoolNumber|add_class:"form-control" }}
                                        </div>
                                        <div class="col-md-12">
                                          <label>Назва школи</label>
                                          {{ form.schoolName|add_class:"form-control" }}
                                        </div>
                                      </div>
                                    </div>
                                    <hr>
                                    <div id="residence-fields">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                              <label>Країна проживання</label>
                                              {{ form.residenceCountry|add_class:"form-control" }}
                                            </div>
                                            <div class="col-md-12">
                                              <label>Місто проживання</label>
                                              {{ form.residenceCity|add_class:"form-control" }}
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group row">
                                        <div class="col-md-12 form-control-comment">
                                            <span class="req">*</span>
                                        </div>
                                        <div class="col-md-12">
                                            <label>Емейл</label>
                                            {{ form.contactEmail | add_class:"form-control" | attr:"placeholder: "|attr:"autocomplete:off" }}
                                        </div>
                                    </div>

                                    <div class="form-group row ">
                                        <div class="col-md-12 form-control-comment">
                                            <span class="req">*</span>
                                        </div>
                                        <div class="col-md-12 form-control-valign">
                                            <label> Ваша навчальна паралель</label>
                                            {{ form.paralel | add_class:"form-control" | attr:""  }}
                                        </div>
                                        <div class="col-md-12 form-control-comment">
                                            В якій навчальній паралелі ви плануєте навчатися в нашій школі в 2025/2026 навчальному році?
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12 form-control-comment">
                                            <span class="req">*</span>
                                        </div>
                                        <div class="col-md-12">
                                            <label>Чи брали Ви участь в олімпіадах з Фізики/Астрономії?</label>
                                            <div class="checkmark-container yesno" data-show="#achievements-fields">
                                                {{ form.olympiadsParticipation }}
                                            </div>
                                        </div>
                                        <div id="achievements-fields">
                                            <div class="col-md-12">
                                                <label>Які Ваші досягнення?</label>
                                                {{ form.olympiadsAchievements | add_class:"form-control" | attr:"" }}
                                                <div class="col-md-12 form-control-comment">
                                                    Розкажіть про Ваші досягнення
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <h3> Увага. </h3>
                                    <h4>
                                        Наступні поля потрібні для того, щоб попередити вас про форс мажорні обставини,
                                        запросити вас до наукової школи чи олімпіади від
                                        OnlinePhysicsSchool.
                                    </h4>

                                    <div class="form-group row">
                                        <div class="col-md-12 form-control-comment">
                                            <span class="req">*</span>
                                        </div>
                                        <div class="col-md-12">
                                            <label>
                                                Будь ласка, дайте Ваше посилання на якусь соцмережу, щоб Ви могли
                                                отримати листа безпосередньо (Telegram, Whatsapp, Signal, ін.)
                                            </label>
                                            {{ form.contactLinks | add_class:"form-control" | attr:"" }}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group row">
                                        <div class="col-md-12 form-control-comment">
                                            <span class="req">*</span>
                                        </div>
                                        <div class="col-md-12">
                                            <label> Згоден(-на) з наданням персональної інформації </label>
                                            <div class="checkmark-container yesno">
                                                {{ form.consentGiven }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <footer class="form-footer clearfix">
                                    <button class="submit-btn btn btn-primary wide form-control-submit float-xs-right" type="submit"> Завершити </button>
                                </footer>
                            </form>
                        </section>
                    </section>
                </div>
            </section>
        </div>
    </div>
</section>
{{ form.errors|json_script:"form_errors" }}
<script>
    let currentTab = 0;
    let maxTabs = document.querySelectorAll('.tab-content').length - 1;
    const form = document.getElementById('customer-form');
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll('.yesno').forEach(group => {
            const targetSel = group.dataset.show;
            const radios = group.querySelectorAll('input[type="radio"]');
            const target = targetSel ? document.querySelector(targetSel) : null;

            function apply() {
              if (!target) return;
              const val = group.querySelector('input[type="radio"]:checked')?.value;
              const isYes = (val === 'true');
              if (isYes) {
                target.style.display = "";
                target.querySelectorAll("input, select, textarea, button").forEach(el => el.disabled = false);
              } else {
                target.style.display = "none";
                target.querySelectorAll("input, select, textarea, button").forEach(el => el.disabled = true);
              }
            }

            radios.forEach(r => r.addEventListener('change', apply));
            apply();
        });

        let formErrors = {% if form.errors %}true{% else %}false{% endif %};
        let errorModal = document.getElementById("errorModal");
        let errorText = document.getElementById("errorText");
        let okButton = document.getElementById("okButton");
        let closeButton = document.querySelector(".close-button");

        if (formErrors) {
            let errorMessage = "";
            {% for field in form %}
                {% for error in field.errors %}
                    errorMessage += "{{ error }}\n";
                {% endfor %}
            {% endfor %}
            errorText.innerText = errorMessage;
            errorModal.style.display = "block";
        }

        okButton.onclick = function() {
            errorModal.style.display = "none";
        }

        closeButton.onclick = function() {
            errorModal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == errorModal) {
                errorModal.style.display = "none";
            }
        }


    });
    function bindCheckboxLabel(checkboxId, labelId) {
        const checkbox = document.getElementById(checkboxId);
        const label = document.getElementById(labelId);
        if (!checkbox || !label) return;

        function updateLabel() {
            label.textContent = checkbox.checked ? "Так" : "Ні";
        }

        // при загрузке страницы
        updateLabel();

        // при изменении состояния
        checkbox.addEventListener('change', updateLabel);
    }

    bindCheckboxLabel("id_studyInUkraine", "label_studyInUkraine");
    bindCheckboxLabel("id_olympiadsParticipation", "label_olympiadsParticipation");
    bindCheckboxLabel("id_consentGiven", "label_consentGiven");

    function validateForm() {
        let valid = true;
        const consent = document.querySelector('#id_consentGiven input[type="radio"]:checked')?.value;
        if (consent !== 'true') {
          alert("Повинно бути підтвердження на надання Ваших персональних даних.");
          return false;
        }
        const currentInputs = document.querySelectorAll('.form-control[required]');
        const studyVal = document.querySelector('#id_studyInUkraine input[type="radio"]:checked')?.value;
        if (studyVal === 'true') {
            let ok = true;
            document.querySelectorAll('#school-fields .form-control').forEach(input => {
                if (!input.value.trim()) { input.style.borderColor = "red"; ok = false; }
                else { input.style.borderColor = ""; }
            });
            if (!ok) valid = false;
        }
        currentInputs.forEach(input => {
            if (input.value === "") {
                input.style.borderColor = "red";
                valid = false;
            } else {
                input.style.borderColor = "";
            }
        });
        return valid;
    }

    document.getElementById('customer-form').addEventListener('submit', function(event) {
        if (!validateForm()) {
            event.preventDefault();
        }
    });
</script>
{% endblock %}
{% block extra_js %}
{% endblock %}