{% extends 'base.html' %}
{% load static %}
{% load i18n  %}
{% block title %} Розв'язки {% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/defaultPagesMain.css' %}">
    <link rel="stylesheet" href="{% static 'css/jurysSolutions.css' %}">
{% endblock %}
{% block content %}
<div>
    <div class="main-container">
        <div class="higher-container">
            <div class="left-high bg-shapes"></div>
            <div class="center-high">
                <div class="container-for-texts">
                    <h1>Розв'язки задач заочного етапу Всеукраїнської інтернет-олімпіади з фізики</h1>
                    </div>
            </div>
            <div class="right-high bg-shapes">
            </div>
        </div>
        <div class="rectangles-wrapper">
            <div class="image solutions-container">
                <div class="tour-container">
                    <div class="header-tour"> Розв'язки 1 Туру</div>
                    <div class="container-downloads">
                        <div class="task-box">
                            <span class="task-name">Розв'язки 9 класу</span>
                            <a class="button-download" href="{% url "download_file" filename="9 клас_1тур_Розв'язання.pdf" %}">Розв'язки в .pdf<br><i class="fa-solid fa-download"></i></a>
                        </div>
                        <div class="task-box">
                            <span class="task-name">Розв'язки 10 класу</span>
                            <a class="button-download" href="{% url "download_file" filename="10 клас_1тур_Розв'язання.pdf" %}">Розв'язки в .pdf<br> <i class="fa-solid fa-download"></i></a>
                        </div>
                        <div class="task-box">
                            <span class="task-name">Розв'язки 11 класу</span>
                            <a class="button-download" href="{% url "download_file" filename="11 клас_1тур_Розв'язання.pdf" %}">Розв'язки в .pdf <br><i class="fa-solid fa-download"></i></a>
                        </div>
                    </div>
                </div>
                <div class="tour-container">
                    <div class="header-tour"> Розв'язки 2 Туру</div>
                    <div class="container-downloads">
                        <div class="task-box">
                            <span class="task-name">Розв'язки 9 класу</span>
                            <a class="button-download" href="{% url "download_file" filename="9кл2йтурРозв24-25.pdf" %}">Розв'язки в .pdf<br><i class="fa-solid fa-download"></i></a>
                        </div>
                        <div class="task-box">
                            <span class="task-name">Розв'язки 10 класу</span>
                            <a class="button-download" href="{% url "download_file" filename="10кл2йтурРозв24-25.pdf" %}">Розв'язки в .pdf<br> <i class="fa-solid fa-download"></i></a>
                        </div>
                        <div class="task-box">
                            <span class="task-name">Розв'язки 11 класу</span>
                            <a class="button-download" href="{% url "download_file" filename="11кл2йтурРозв24-25.pdf" %}">Розв'язки в .pdf <br><i class="fa-solid fa-download"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="centered-container bg-big-info">

        </div>
    </div>
    <div class="down-container">

    </div>
</div>
{% endblock %}