* {
    box-sizing: border-box;
    max-width: 100vw;
    /*overflow-x: hidden;*/
}
body{
    overflow-x: hidden;
}
.white-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.89); /* Белая маска с прозрачностью 70% */
    z-index: -1; /* Помещаем маску под основной контент */
    pointer-events: none; /* Чтобы маска не мешала взаимодействию с контентом */
}
.toolbar {
    background-color: #f9f9f9;
    padding: 6px;
    position: fixed; /* Закрепляем элемент вверху */
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    z-index: 10; /* Поверх другого контента */
    transition: height 0.2s ease-in-out; /* Плавный переход высоты */
    margin-bottom: 100px;
    border-bottom: 1px solid #eeeeee;
}

@media only screen and (min-width: 769px)  {
    .pc-view {
        width: 100%;
        padding: 0 40px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 128px;
        height: 100%;
    }
    .mobile-view{
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .pc-view{
        display: none;
    }
    .mobile-view {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
    }
}
.logo{
    display: flex;
    align-items: center;
}
.logo .imag {
    margin-left: 10px;
    margin-right: 10px;
    width: 70px;
    height: 70px;
}
.logo .imag2 {
    margin-left: 10px;
    margin-right: 10px;
    width: 177px;
    height: 102px;
}
@media only screen and (max-width: 768px) {
    .logo .imag {
        height: 70px;
        width: 70px;
    }
    .logo .imag2 {
        height: 70px;
        width: 120px;
    }
}
.all-links{
    display: flex;
    justify-content: center; align-items: center;
    gap: 36px;
}

.account-link-wrapper{
    font-style: italic;
    font-size: 14px;
    margin-top: 8px;
    color: white;
}
#account-icon{
    display: flex;
    gap: 5px;
}
#account-icon-photo{
    width: 34px;
    height: 34px;
    background-color: #e6eff8;
    color: #005bbb;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
    font-weight: 700
}

.links {
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar .link, .icon-link {
    cursor: pointer;
    color: #21211e !important;
    font-size: 16px;
    text-decoration: none !important;
    padding: 5px;
    margin: 0 5px 0 0px;
    font-family: 'Montserrat-Bold', sans-serif;
    position: relative;
}
.icon-link{
    transition: opacity 0.2s;
}
.icon-link:hover{
    color: #005bbb !important;
    opacity: 50%;
}

.link:hover::after {
    width: 100%;
}

.link:hover {
    color: #005bbb !important;
}
.toolbar .dropdown-link {
    cursor: pointer;
    color: black !important;
    font-size: 14px;
    text-decoration: none !important;
    padding: 5px;
    margin: 0 5px 0 0;
    font-family: 'Montserrat-Bold', sans-serif;
    position: relative;
}
.dropdown-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 0;
    height: 1.5px;
    background-color: #000000;
    transition: all 0.3s ease;
}

.dropdown-link{
    cursor: pointer;
    transition: all 0.3s ease;
}

.dropdown-link:hover {
    opacity: 40%;
}
ul,li {
    list-style-type: none;
}
.dropdown-link:hover {
    color: #000000 !important;
}

.users{
    text-align: right;
}

.link-auth{
  cursor: pointer;
  font-size: 16px;
  text-decoration: none !important;
  padding: 14px 32px 14px 28px;
  margin: 0 5px 0 0;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  height: 52px;
  width: 200px;
  border-radius: 4px;
  background-color: #005bbb;
  font-weight: 600;
  color: #f9f9f9!important;
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 768px) {
    .link-auth{
        width: 70px;
    }
}
.circular-select {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #ccc;
    background-image: url('https://www.worldometers.info/img/flags/gm-flag.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
     appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

}
.circular-select{
     color: transparent;
}
 .circular-select option{
     color: black;
 }

 .icons-container{
     display: flex;
     user-select: none;
 }
 #logout-icon{
     margin-top: 10px;
 }


.overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 1100; /* Ensure it's below the cart panel but above other content */
}

/* Style to make the container visible and fade in */
body{
    display: flex!important;
    flex-direction: column!important;
    min-height: 100vh;
    max-width: 100vw!important;
}

/* Initial and expanded height */
.toolbar.large { height: 80px; }
.toolbar.small { height: 80px; }

.dropdown-container {
    position: relative;
    display: inline-block; /* Keeps the icon and the menu aligned nicely */
}

.menu {
    position: absolute;
    background-color: white;
    border-radius: 6px;
    list-style: none;
    width: 180px; /* or any desired width */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    box-shadow: 0 6px 6px rgba(0,0,0,0.2);;
    margin-top: -15px;
}
.menu.open{
    max-height: 1000px;


}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 8px;
    margin: 0;
    font-weight: 600;
    color: black!important;
}
#accountDropdownMenu ul li:not(:last-child){
    border-bottom: 1px solid #e9e9e9;
}
#accountDropdownMenu ul li{
    padding: 12px 18px;
    text-align: left!important;
    font-size: 12px!important;
}

.dropdown-links{
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-color: #E9E9E9;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-links img{

}
.right-links-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: all 0.5s;
    max-height: 0;
    pointer-events: none;
}

.overlay-mobile.visible {
    max-height: 100%;
    pointer-events: all;
}
.hidden {
    max-height: 0;
}

.menu-mobile {
    background-color: white;
    width: 100%;
    margin-top: 80px;
    padding: 10px 0 0 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    /*height:100%;*/
}

.overlay-mobile.visible .menu-mobile {
    transform: translateY(0);
}

.menu-mobile ul {
    list-style-type: none;
    padding: 0;
}

.menu-mobile ul li {
    margin: 15px 0;
    text-align: center;
}

.menu-mobile ul li a {
    text-decoration: none;
    font-size: 17px;
    font-family: "Montserrat-Bold", sans-serif;
    color: #21211E;
    transition: all 0.3s ease;-moz-transition: background-color 300ms linear, color 1s linear;
}
.menu-mobile ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 0;
    height: 1.5px;
    background-color: #000000;
    transition: all 0.3s ease;
}

.menu-mobile ul li a{
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu-mobile ul li a:hover {
    color: #005bbb;
}

.mobile-dropdown-container{
    width: 100%;
    /*height: 100%;*/
}

.hr-link{
    margin: 0!important;
}
.blue-button{
    color: white!important;
    background-color: #005bbb;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding: 14px 30px 14px 26px;
    border-radius: 4px;
    border: none;
}
.blue-button a{
    text-decoration: none;
    color: #f9f9f9;
}
.blue-button a:hover{
    text-decoration: none;
}
.white-button{
    color: #005bbb!important;
    background-color: #f9f9f9;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding: 14px 30px 14px 26px;
    border-radius: 4px;
    border: none;
}
.white-button a{
    text-decoration: none;
    color: #005bbb;
}
.white-button a:hover{
    text-decoration: none;
}
.big-text{
    font-weight: 600;
}
.white-t{
    color: #f9f9f9!important;
}
.small-text{
    font-size: 14px;
}
.gray-text{
    color: #4D4D4B;
}
.poznachka{
    color: #005BBB;
    background-color: #F9F9F9;
    padding: 5px 16px;
    border-radius: 100px;
}
.title-1{
    font-weight: 600;
    font-size: 24px;
    color: #f9f9f9;
    text-align: center;
}
.title-2{
    font-weight: 600;
    font-size: 18px;
    color: #f9f9f9;
    text-align: center;
}
.first-tour-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    border-radius: 12px;
    gap: 32px;
}
.first-tour-info-type-2{
    max-width: 400px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 12px;
    gap: 14px;
}


.first-tour-info .text, .first-tour-info-type-2 .text{
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    color: #f9f9f9;
}

.frame-link{
    text-decoration: none;
    color: #005bbb!important;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.frame-link:hover{
    text-decoration: none;
}