/*.higher-container{*/
/*    display: flex;*/

/*    margin-top: 80px;*/
/*}*/

.left-high {
    flex: 0 0 30%; /* Flex-grow: 0, Flex-shrink: 0, Flex-basis: 20% */
    height: 100%; /* Make it take full height of the parent */
    background-size: cover; /* Ensure background covers the entire area */
}

.center-high {
    flex: 0 0 40%; /* Flex-grow: 0, Flex-shrink: 0, Flex-basis: 40% */
    height: 100%; /* Make it take full height of the parent */
    background-size: cover; /* Ensure background covers the entire area */
    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: center;
    padding: 0 20px;
    z-index: 4;
}
.center-high .container-for-texts{
    padding: 0 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    gap: 35px;
}
bluetext{
   color:#0053AA;
}
.center-high .container-for-texts h1{
    font-weight: 600;
    text-align: center;
}
.center-high .container-for-texts span{
    color: #4D4D4B;
    font-size: 16px;
    font-weight: 400;
}
.center-high .container-for-texts span a{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}
.center-high .container-for-texts span a:hover{
    text-decoration: none;
}
.right-high {
    flex: 0 0 30%; /* Flex-grow: 0, Flex-shrink: 0, Flex-basis: 40% */
    height: 100%; /* Make it take full height of the parent */
    background-size: cover; /* Ensure background covers the entire area */
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.higher-container {
    display: flex;
    width: 100%;
    height: 362px; /* Высота верхнего блока */
    margin-top: 80px;
}
.centered-container {
    width: 100%;
    height: 1520px; /* Высота зависит от содержимого */
    /*min-height: 100px; !* Минимальная высота *!*/
    background-size: cover; /* Масштабируем по контейнеру */
    background-position: center; /* Центрируем */
    background-repeat: no-repeat; /* Изображение не повторяется */
    flex-grow: 1; /* Растягиваем контейнер по мере необходимости */
}

.main-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rectangles-wrapper {
    position: absolute;
    top: 520px; /* Помещаем на стык фонов */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Отступ между прямоугольниками */
    z-index: 2; /* Прямоугольники будут сверху */
}
.container-downloads{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.solutions-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.header-tour{
    color: #f9f9f9;
    font-size: 24px;
    font-weight: 600;
}
.tour-container{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.image, .text-information{
        padding: 0 20px;
    }
@media only screen and (min-width: 769px) and (max-width: 1152px) {

}
@media only screen and (max-width: 768px) {

    .container-downloads{
        flex-direction: column;
    }
    .text-information{
        flex-direction: column;
        text-align: center;
    }
    .rectangles-wrapper{
    }
    .rectangles-wrapper .text-information .main-text{
        background-color: #00428a;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        padding: 20px;
    }
    .rectangles-wrapper .text-information .main-text h1{
        font-size: 32px;
    }
    .image, .text-information{
        padding: 0 20px;
    }
    .rectangles-wrapper .image{
        height: 700px;
    }

    .higher-container{
        flex-direction: column;
    }
    .right-high{
        flex: 0 0 0;
    }
    .left-high{
        flex: 0 0 10%;
    }
    .center-high{
        flex: 0 0 90%;
    }
    .higher-container{
        height: 470px;
    }
    .rectangles-wrapper{
        top: 600px;
    }
}

@media only screen and (max-width: 400px)  {
    .centered-container {
        height: 480vh;
    }
}@media only screen and (max-width: 768px) and (min-width: 401px)  {
    .centered-container {
        height: 405vh;
    }
}

.task-box{
    padding: 32px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    gap:10px;
}
.task-box span{
    font-size: 24px;
    font-weight: bold;
}
.task-box .button-download{
    background-color: #04a96d;
    border-radius: 10px;
    padding: 20px;
    text-decoration: none;
    color: #f9f9f9;
}
.task-box .button-download:hover{
    text-decoration: none;
    color: #f9f9f9;
}
.image {
    width: 1050px;
    height: 350px;
    text-align: center;
}
.image img{
    border-radius: 12px;
}

.text-information {
    display: flex;
    gap: 32px;
}

.text-information .main-text{
    flex: 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}
.text-information .first-tour-info{
    flex: 0 30%;
}

.lower-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:32px;
}

.lower-container .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    max-width: 900px;
}
.lower-container img{
    border-radius: 12px;
}
.photos{
    display: flex;
    gap:32px;
}
.photos .column-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    text-align: right;
}
.photos .column-1 div{
    max-width: 150px;
}

.down-container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.down-container .text{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    max-width: 900px;
    text-align: center;
}


.deep-container{
    margin-top: 80px;


}
.deep-container {
    display: flex;
    align-items: center;
    justify-content: center;


}
.deep-container .inside-container{
    width: 1100px;
    display: flex;
    gap: 70px;
    align-items: center;
}


.deep-container .column-1{
    flex: 0 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.deep-container .column-2{
    flex: 0 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.deep-container .column-2 .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}
.deep-container .column-2 .text i {
    color: #005BBB;
}

.card{
    padding: 32px;
    border-radius: 12px;

}
.card .header{
    font-size: 24px;
}
.card{
    display: flex;
    gap: 26px;
}

