body, h1, span{
    font-family: 'Montserrat-Bold', sans-serif !important;
}
h1, h3{
    font-weight: 600!important;
}
.higher-container{
    display: flex;
    /*flex-direction: column;*/
    min-height: 500px;
}
@media (max-width: 576px) {
  /* Стили для средних телефонов */

}

.left-high { /* Flex-grow: 0, Flex-shrink: 0, Flex-basis: 20% */
    background-size: cover; /* Ensure background covers the entire area */
}
@media (min-width: 769px) {
    .higher-container{
        height: 422px;
    }
    .left-high, .center-high, .right-high {
        height: 100%;

    }
    .left-high {
       flex: 0 0 10%;
    }
    .center-high {
       flex: 0 0 40%;
    }
    .right-high {
       flex: 0 0 50%;
    }
}
@media (max-width: 769px) {
    .higher-container{
        flex-direction: column;
    }
    .left-high {
         /* Flex-grow: 0, Flex-shrink: 0, Flex-basis: 20% */
        height: 100px;
    }
  /* Стили для средних телефонов */
    .left-high, .center-high, .right-high {
        width: 100%;flex-grow: 1;

    }
    .center-high .container-for-texts h1 {
        font-size: 32px;

    }
    .center-high .container-for-texts {
        text-align: center;
        padding: 0 10px!important;
    }
    .right-high .text-frame{
        width: 80% !important;
        height: 250px !important;
        margin: 20px 0
    }
    .right-high {
        align-items: center;
    }
}
.center-high {
  /* Flex-grow: 0, Flex-shrink: 0, Flex-basis: 40% */
    background-size: cover; /* Ensure background covers the entire area */
    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: center;
    padding: 0 20px;
}
.center-high .container-for-texts{
    padding: 0 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    gap: 20px;
}
bluetext{
   color:#0053AA;
}
.center-high .container-for-texts h1{
    font-weight: 600;

}
.center-high .container-for-texts span{
    color: #4D4D4B;
    font-size: 16px;
    font-weight: 400;
}

.right-high {/* Flex-grow: 0, Flex-shrink: 0, Flex-basis: 40% */
    background-size: cover; /* Ensure background covers the entire area */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-high .text-frame{
    max-height: 200px;
    width: 454px;
    border-radius: 12px;
    background-color: #f9f9f9;
    padding: 32px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:32px;
}

.right-high .text-frame .main-text{
    display: flex;
    flex-direction: column;
    gap:12px;
}
.right-high .text-frame .main-text .header5{
    font-weight: 600;
    font-size: 22px;

}
.right-high .text-frame .main-text .text{
    font-size: 14px;
    color: #4D4D4B;
}

.date-container {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #0053AA;
    border-bottom: 5px solid #FFD500;
}
@media screen and (min-width: 768px) {
    .date-container {
        align-items: center;
    }
    .timeline {
        position: relative;
        margin: 50px auto;
        width: 90%;
        max-width: 800px;
        height: 4px;
        background: #5C6F92;
    }

    .timeline .progress {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: white;
        z-index: 2;
        transition: width 0.3s ease-in-out;
    }

    .milestone {
        position: absolute;
        top: -11px;
        width: 8px;
        height: 25px;
        background: #5C6F92;
        z-index: 3;
    }

    .milestone.active {
        background: white;
    }

    .milestone > span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        color: white;
    }

    .milestone .up {
        top: -35px;
    }

    .milestone .down {
        top: 35px;
    }

    .milestone-info-up,.milestone-info-down {
        position: absolute;
        background-color: #004185;
        color: #f9f9f9;
        padding: 16px;
        border-radius: 12px;
        font-size: 14px;
        width: 220px; /* Ограничение максимальной ширины */
        text-align: left; /* Выравнивание текста по центру */
        overflow-wrap: break-word; /* Перенос слов */
        word-wrap: break-word; /* Альтернативный вариант для поддержки старых браузеров */
        white-space: normal; /* Разрешаем перенос строк */
        transform: translateX(-50%);
        left: 50%;
        display: flex;
        flex-direction: column;
        gap:5px;
    }
    .mini-date{
        font-size: 12px;
    }
    .milestone-info-up{
        top: -80px;
    }
    .upper{
        top: 50px!important;
    }
    .milestone-info-down{
        top: 70px;
    }
}
.container-info{
    text-align: center;
    padding: 40px 0 20px 0;
}

@media screen and (max-width: 768px) {
    .date-container {
        align-items: end;
        height: 620px;
    }
    .timeline {
        position: relative;
        margin: 50px 10%;
        width: 90%;
        max-width: 800px;
        height: 4px;
        background: #5C6F92;
    }

    .progress {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: white;
        z-index: 2;
        transition: height 0.3s ease-in-out; /* Изменение с ширины на высоту */
    }

    .milestone {
        position: absolute;
        top: -11px;
        width: 25px;
        height: 6px;
        background: #5C6F92;
        z-index: 3;
    }

    .milestone.active {
        background: white;
    }

    .milestone > span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        color: white;
    }

    .milestone .up {
        top: -35px;
    }



    .milestone-info-up, .milestone-info-down {
        position: absolute;
        top: -60px;
        background-color: #004185;
        color: #f9f9f9;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 13px;
        max-width: 150px;
        text-align: center;
        word-break: break-word;
        white-space: normal;
        transform: translateX(-50%);
        left: 50%;
    }
.mini-date{
        font-size: 12px;
    }
    /* Вертикальная линия на мобильных устройствах */
    @media (max-width: 768px) {
         .up-milestone{
             top:3.5vh !important;
         }
        .down-milestone{
             top:-3.5vh !important;
         }
         .timeline {
            width: 4px; /* Линия становится вертикальной */
            height: 90%; /* Высота линии */
            right: 10px; /* Располагаем ближе к правому краю */
            left: auto; /* Убираем левое выравнивание */
        }

        .progress {
            width: 100%; /* Прогресс по вертикали */
            height: 0;
            top: 0;
            left: 0;
        }

        .milestone {
            left: auto; /* Убираем выравнивание по левому краю */
            right: -11px; /* Сдвигаем точки ближе к линии */
            top: 0;
        }

        .milestone span {
            top: 50%; /* Центруем текст по вертикали */
            right: 35px; /* Сдвигаем текст метки вправо */
            transform: translateY(-50%);
        }
        .milestone-info-up,.milestone-info-down {
            left: auto; /* Убираем левое выравнивание */
            right: 50px; /* Располагаем текст метки слева от линии */
            top: 0;
            transform: translateY(-50%);
            width: 200px;
        }

        .milestone .up, .milestone .down {
            left: auto; /* Убираем левое выравнивание */
            right: 60vw; /* Сдвигаем метки справа от линии */

        }
    }

}

.sub-news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub-news-container .inner-sub-news{
    display: flex;
    align-items: center;
    gap: 56px;
    max-width: 100vw;
    width: 1000px;
}
.sub-news-container .inner-sub-news img{
    width: 600px;
    height: 400px;
}
.sub-news-container .main-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 66px;
}
.sub-news-container .main-body .main-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}
.sub-news-container .main-body .main-text h1{
    font-weight: 600;
}
.sub-news-container .main-body .main-text span{
    font-size: 14px;
    color: #4D4D4B;
}
@media (max-width: 768px) {
    .sub-news-container .inner-sub-news{
        flex-direction: column;
        gap: 10px;
    }
    .sub-news-container .inner-sub-news .main-body{
        padding: 8px;
    }
}


.centered-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.left-news-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news-text-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10% 0 10%;
    width: 100%;
    max-width: 1240px;
}

.left-news-text h3{
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 600;
}
.left-news-text .small-text-news{
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 600;
    font-size: 14px;
}
.right-news-text a{
    text-decoration: none;
    color: #005bbb;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Montserrat-Bold', sans-serif;
}
.right-news-text a:hover{
    text-decoration: none;
}
.news-container{
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news-container a{
    text-decoration: none;
    color: #005bbb;
    font-weight: 600;

}
.news-container a:hover{
    text-decoration: none;
}

.news-container p{
    color: black;
    font-size: 15px;
    text-align: center;
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
    margin: 15px 0 18px 0;
}


.container-post-news{
    position: relative;
    width: 100%;
    height: 1480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (max-width: 420px) {
    .container-post-news {
        height: 3000px;
    }
}
@media only screen and (max-width: 768px) {
    .purposes{
        flex-direction: column;
        
    }
    .etaps{
        flex-direction: column;

    }
}
@media only screen and (max-width: 540px) and (min-width: 421px){
    .container-post-news{
        height:2700px;
    }
}
@media only screen and (max-width: 768px) and (min-width: 541px){
    .container-post-news{
        height:2400px;
    }
}
     .sub-news-container .inner-sub-news, .centered-container, .purpose-container, .etaps-container{
        padding: 20px;
    }

@media only screen and (min-width: 769px) {
    .purpose{
        width: 380px;
    }
}
.background-purposes-1,
.background-purposes-2 {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;

    background-size: cover;
    background-position: center;
}
.background-purposes-1 {
    top: 0;
    height: 550px;
    background-image: url("../images/home/imgs/purposes1.svg");
}
.background-purposes-2 {
    bottom: 0;
    height: 930px;
    background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0)), url("../images/home/imgs/purposes2.svg")
}

.post-news-wrapper{
    position: absolute;
    top: 50%; /* Позиционирование контейнера с прямоугольниками по вертикали */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px; /* Отступ между прямоугольниками */
    z-index: 5; /* Прямоугольники будут сверху */
}
.purpose-container {
    width: 1100px; /* Ширина прямоугольника */
    display: flex;
    flex-direction: column;
    gap:64px;

}

.purpose-container .text-header h1{
    color: white;
    font-weight: 600;
}

.purposes{
    display: flex;

    gap: 16px;
}
.purpose{
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.09);
    gap:10px;
}
.purpose .h3{
    font-weight: bold;
}
.purpose .text{
    color: #4D4D4B;
    font-size: 14px;
}

.etaps-container {
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.etaps-container .titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.etaps{
    display: flex;
    gap: 32px;
}
.first-tour-info, .online-tour-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    border-radius: 12px;
    gap: 32px;
}


.first-tour-info .text, .online-tour-info .text{
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    color: #f9f9f9;
}

@media only screen and (min-width: 769px) {
    .news-container img{
        border-radius: 6px;
        width: 360px;
        height: 230px;
    }
}
@media only screen and (max-width: 768px) {
    .news-container img{
        border-radius: 6px;
        width: 200px;
        height: 80px;
    }
    .news-text-container{
        padding: 20px;
    }

}


.img-section{
    width: 200px!important;
    height: 200px !important;
    margin-bottom: 20px;
}
.img-wrapper {
    position: relative;
    display: inline-block;
    width: 200px !important; /* Match the image width */
    height: 200px !important; /* Match the image height */
    border-radius: 10px;
    overflow: hidden;
}

html::-webkit-scrollbar{
    display: none;
}
html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.containerr {
  margin: 0 10% 0 10%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.item-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.item-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.item-list {
  width: 1250px;
  padding: 10px 10px;
  display: flex;
  gap: 48px;
  scroll-behavior: smooth;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.item-list::-webkit-scrollbar {
  display: none;
}

.prev-btn, .next-btn {
  background: none;
  cursor: pointer;
  border: none;
}

.item {
  scroll-snap-align: center;
  min-width: 200px;
  border-radius: 8px;
}
.bold-text{
    font-weight: 600;
    font-size: 16px;
}

.container-sponsor{
   display: flex;
   align-items: center;
   gap: 10px;
}
.logo-sponsor{
    width: 60px;
    height: 80px;
}
.text-sponsor{
    font-size: 19px!important;
}
.sponsor-link{
    text-decoration: none!important;
    font-size: 19px;
}
.sponsor-link:visited{
    text-decoration: none!important;
    color: inherit;
}