.centered-container {
    height: 650px; /* Высота зависит от содержимого */
}

.rectangles-wrapper {
}

.solutions-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.header-tour{
    color: #f9f9f9;
    font-size: 24px;
    font-weight: 600;
}
.tour-container{
    display: flex;
    flex-direction: column;
    gap:10px;
}

@media only screen and (max-width: 400px)  {
    .centered-container {
        height: 195vh;
    }
}@media only screen and (max-width: 768px) and (min-width: 401px)  {
    .centered-container {
        height: 167vh;
    }
}
