.centered-container {
    height: 1100px;
    background-size: cover;
}

.rectangles-wrapper {
    top: 420px;
}

@media only screen and (max-width: 400px)  {
    .centered-container {
        height: 260vh;
    }
}@media only screen and (max-width: 768px) and (min-width: 401px)  {
    .centered-container {
        height: 215vh;
    }
}
