{% load static %}
{% load i18n %}
{% include 'widgets/navigation_bar.html' %}
<section id="wrapper" class="stick_parent_lb" style="opacity: 1; margin-top: 100px">

   <div class="container">
      <div id="content-wrapper">
         <section id="main">
            <div class="container">
               <header class="page-header">
                  <h1> Контакти голови жюрі:</h1>
               </header>
               <section id="content" class="page-content page-cms page-cms-13" style="">
                  <div class="elementor elementor-13 ">
                     <div class="elementor-inner">
                        <div class="elementor-section-wrap">
                           <section class="elementor-element elementor-element-e3f67a1 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="e3f67a1" data-element_type="section">
                              <div class="elementor-container elementor-column-gap-default">
                                 <div class="elementor-row">
                                    <div class="elementor-element elementor-element-3c97424 elementor-column elementor-col-100 elementor-top-column" data-id="3c97424" data-element_type="column">
                                       <div class="elementor-column-wrap elementor-element-populated">
                                          <div class="elementor-widget-wrap">
                                             <div class="elementor-element elementor-element-e3ea727 elementor-widget elementor-widget-text-editor" data-id="e3ea727" data-element_type="widget" data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container ererer">
                                                   <div class="elementor-text-editor elementor-clearfix">
                                                      <div class="row" style="margin: 70px auto; max-width: 600px;">
                                                         <div class="col-md-6 text-center">
                                                            <p class="text-center"><img style="width: 50px;" src="{% static "images/home/imgs/emailOW.webp" %}" alt="sobre.png"></p>
                                                            <p class="text-black"><a>pashko_maxim@i.ua</a></p>
                                                         </div>
                                                         <div class="col-md-6 text-center">
                                                            <p class="text-center"><img style="width: 50px;" src="{% static "images/home/imgs/phonOW.webp" %}" alt="volumen.png"></p>
                                                            <p class="text-black">Номер телефону +380505023065 </p>
                                                         </div>
                                                      </div>
                                                      <div class="col-md-12">
                                                         <p class="text-center text-black" style="font-size: 24px"><a href="https://t.me/MaksymPashko"><strong>Телеграм</strong></a></p>
{#                                                         <p class="text-center text-black"><a></a></p>#}
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                        </div>
                     </div>
                  </div>
               </section>
               <footer class="page-footer hidden"> </footer>
            </div>
         </section>
      </div>
   </div>
</section>
{% include 'widgets/footer.html' %}