{% extends 'base.html' %}
{% load static %}
{% load i18n  %}
{% block title %} Новини {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/pages/newsPrototype.css' %}">
{% endblock %}

{% block content %}
<body style="background-image: url('{% static "images/general/backgroundPattern.png" %}');">
    <div class="white-mask"></div>

    <div class="hat-container" style="background-image: url('{% static "images/general/backgroundBlue.svg" %}'); ">
        <div class="title-container">
            <span class="predislovie">
                <span class="mini-text">
                    Новини
                </span>
                <span style="height: 18px; width: 18px; color: #f9f9f9; border-radius: 10px"></span>
                <span class="white-t big-text">
                    На плечах гігантів - команда EuPhO в Кембриджі3
                </span>
            </span>
            <h1 class="big-text white-t">На плечах гігантів - команда EuPhO в Кембріджі. 3</h1>
            <div class="properties">
                <span class="mini-text"><img src="{% static "icons/Calendar.svg" %}" width="20" height="20"> 5 липня 2024 р</span>
                <span class="mini-text"><img src="{% static "icons/Eye.svg" %}" width="20" height="20"> 8 хв читання</span>
            </div>
        </div>
        <img src="{% static "images/general/hat_image.jpg" %}" width="500" height="400" alt="hat" class="hat">

    </div>
    <div class="text-container">
        <div class="inside">
            <span class="text gray-text">
                Напруження серед німецьких олімпійців з фізики зростає: після успішного тренувального збору в Гайде національна команда прийняла запрошення британської команди відвідати Кембридж з 29 червня по 3 липня, щоб уперше разом провести навчальний семінар. У Великій Британії молоді німецькі фізики Олександр Прасолов, Йоганнес Крьохер, Август Редорф, Армас Шарпегге та Яннік Вебер разом із британською командою інтенсивно готувалися до змісту майбутньої Європейської олімпіади з фізики (IPhO). Компанію їм склали колишні німецькі олімпійці Тім Покарт, Паскаль Рік і Арне Вольф. Під керівництвом німецьких і британських організаторів, лекторів з Кембриджа та інших колишніх учасників Олімпіади команди пережили інтенсивні дні.
            </span>

            <div class="text-paragraph">
                <div class="column-1">
                    <img src="{% static "images/news/testNews1.png" %}" width="460" height="460" alt="© IPhO - IPN" class="">
                    <div class="caption">
                        <span class="big-text">
                            Член команди Август Редорф під час експерименту IPhO.
                        </span>
                        <span class="hint">
                            © IPhO - IPN
                        </span>
                    </div>
                </div>
                <div class="column-2">
                    <h1 class="big-text">
                        Мене мотивує те, що ти тренувався з
                        цілою іншою командою, яка мала перемогти
                        у відбіркових змаганнях.
                    </h1>
                    <span class="gray-text">
                        Підготовка охоплювала весь спектр складних олімпіадних завдань.
                        З одного боку, експерименти з минулих Олімпійських ігор проводилися
                        у відомій Кавендішській лабораторії, в якій досліджувалося мікрохвильове
                        випромінювання, деформація водної поверхні, викликана магнітами, чорні
                        ящики, показники заломлення та багато іншого. З іншого боку, теоретичні
                        семінари, зокрема з магнетизму, теорії відносності та поверхневого натягу,
                        надали студентам можливість поглибити свої теоретичні знання та інтенсивно
                        займатися складними фізичними проблемами. 
                    </span>
                    <span class="gray-text">
                        Об’єднані невичерпною цікавістю та великою мотивацією
                        , студенти обох команд змогли не лише значно покращити
                        свої навички, а й зав’язати цінні дружні стосунки, які
                        триватимуть і поза конкурсом.
                    </span>
                </div>
            </div>

            <div class="text-vertical-paragraph">
                <h1 class="big-text">
                    Дуже вразило те, що вам дозволили
                    займатися фізикою там, де колись робили
                    великі фізики. Обмін із членами британської
                    команди залишив незабутнє враження та
                    розширив наші горизонти.
                </h1>
                <span class="gray-text">
                    Окрім наукової діяльності в місцях роботи Ньютона,
                    Максвелла та Хокінга, команда також скористалася
                    можливістю дослідити історичне місто Кембридж із його
                    численними коледжами. Особливою родзинкою став традиційний
                    пантинг на річці Кем, під час якого було детально розглянуто
                    принцип дії та реакції – всього за кілька метрів від його
                    початкової версії. Учасники отримали багато вражень,
                    особливо від приймаючого коледжу Трініті, який вразив
                    своєю вражаючою архітектурою та історією, а не лише
                    традиційними британськими сніданками (квасоля, гриби,
                    каша, бекон та коричневі оладки) під очима Дж. Дж. Томпсона,
                    Френсіса Бекона та Генрі. VIII.
                </span>
                <img src="{% static "images/news/testNews2.png" %}" width="860" height="520" alt="© IPhO - IPN" class="">

            </div>
            <div class="text-vertical-paragraph">
                <h1 class="big-text">
                    Їжа в залах історичних стін або прогулянка численними
                    коледжами та Кембриджем по дорозі на наступне тренування
                    — це незабутні та вражаючі враження.
                </h1>
                <span class="gray-text">
                    Завдяки поєднанню важких фізичних завдань і різноманітної
                    програми підтримки молоді таланти змогли розширити свої
                    знання та надихнути одне одного. Зараз збірна Німеччини добре
                    підготовлена ​​до міжнародних змагань і з нетерпінням
                    чекає майбутніх викликів на Європейській олімпіаді з фізики.
                </span>
                <span class="gray-text">
                    Велика подяка за гостинність і чудовий час у Кембриджі всім
                    організаторам і помічникам з британської сторони: Маргарет Холл,
                    Пол Ніколлс, Dr. Енсон Чунг і Робін Хьюз, а також Вейда Ляо,
                    Франческа Ді Чечіо, Фреді Іп, Dr. Гарет Кондуїт, доктор Джон Біггінс,
                    Dr. Гарет Вілкс, Малі Джонгман-Ріос, Dr. Том Гессі Джонс і Dr. Стів Мартін.
                </span>
            </div>
        </div>
    </div>
</body>
{% endblock %}