{% extends 'base.html' %}
{% load static %}
{% load i18n  %}
{% block title %} Новини {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/pages/newsPrototype.css' %}">
{% endblock %}

{% block content %}
<body class="bg-pattern">
    <div class="white-mask"></div>

    <div class="hat-container bg-blue">
        <div class="title-container">
            <span class="predislovie">
                <span class="mini-text">
                    Новини
                </span>
                <span class="text-upper"></span>
                <span class="white-t big-text">
                    Інтернет-олімпіада 2022
                </span>
            </span>
            <h1 class="big-text white-t">22 Всеукраїнська інтернет-олімпіада з фізики</h1>
            <div class="properties">
                <span class="mini-text"><img src="{% static "icons/Calendar.svg" %}" width="20" height="20"> 14 січня 2023 р</span>
                <span class="mini-text"><img src="{% static "icons/Eye.svg" %}" width="20" height="20"> 18 хв читання</span>
            </div>
        </div>
        <img src="{% static "images/news/new_1/photo3_new1.jpg" %}" width="500" height="400" alt="hat" class="hat">

    </div>
    <div class="text-container">
        <div class="inside">
            <span class="text gray-text">
                 Вже третій рік поспіль наша команда задіяна у проведенні Всеукраїнської інтернет-олімпіади з фізики і прикладає максимум зусиль, щоб у цей важкий для всіх нас час, коли всі олімпіади, якщо й проводяться, то виключно онлайн, інтернет-олімпіада все ж таки була проведена за реальної присутності учнів та вчителів. І це дуже важливо, навіть не тільки тому, що цього вимагає положення про інтернет-олімпіади, а ще й тому, шо це підтримує цей дух олімпіадного спілкування, за яким ми всі скучили за останні роки.
            </span>
            <span class="text gray-text">
                Ми намагалися зробити цілком нові задачі, які б були цікаві як учням так і вчителям, які б не можна було б «загуглити»,  але, перш за все, вони мали сподобатися нам самим – авторам цих задач та організаторам олімпіади. Бо кожен з нас цим живе та дихає і не уявляє свого життя без підтримки олімпіадного руху, цілком розуміючи, що це не просто гра, інтелектуальний спорт, вивчення найцікавішої в світі науки фізики, але ще й діяльність, яка безпосередньо вплине на безпечне та квітуче майбутнє нашої Батьківщини. Бо саме від цих зараз ще дітей-фізиків залежіть обороноздатність та відновлення України. І ми впевнені, що у більшості своїй, вони, як і їх більш дорослі  однодумці фізики-олімпійці, що вчяться та працюють по всьому світу, присвятять свою майбутню діяльність саме цьому.
            </span>
            <span class="text gray-text">
                 Сподіваюсь, що й в цьому році, завдяки натхненню та професіоналізму авторів задач – відомих вчителів та науковців зі всієї України:  Илья Гельфгат , Oles Kelnyk, Олександр Мєшков , Олексій Микуленко, Олексій Овсянніков ,  Артем Олійник, Олег Орлянский , Максим Пашко , Віталий  Сапсай, Олександр Триліс ,  Александр Шевчук , Марк Югай , нам все ж таки, на думку багатьох, вдалося зробити щось нове та цікаве.
            </span>
            <span class="text gray-text">
                І ось, 14 січня 2023 року нарешті відбувся фінальний етап Всеукраїнської інтернет-олімпіади з фізики!
            </span>
            <div class="text-paragraph">
                <div class="column-1">
                    <img src="{% static "images/news/new_1/photo1_new1.jpg" %}" width="420" height="320" alt="© IPhO - IPN" class="">
                    <div class="caption">
                        <span class="big-text">
                            Праця у Українському Фізико-математичному ліцеї при Київському Національному Університеті імені Т.Г. Шевченка
                        </span>
                        <span class="hint">
{#                            © IPhO - IPN#}
                        </span>
                    </div>
                </div>
                <div class="column-2">
                    <h1 class="big-text">
                        Зміна місця дії
                    </h1>
                    <span class="gray-text">
                        Передостанні два роки олімпіада проводилася на базі Херсонського Фізико-технічного ліцею Херсонської міської ради. Нажаль тимчасова окупація м. Херсона російськими загарбниками  унеможливила проведення олімпіади в цьому році у тому ж закладі, і справжню руку допомоги у спільній справі розвитку обдарованої молоді протягнули наші друзі – Український Фізико-математичний ліцей при Київському Національному Університеті імені Т.Г. Шевченка. Велика подяка за цілковите сприяння та підтримку  в організації і проведенні олімпіади директорці ліцею Людмила Латишенко , її заступниці Ирина Богомаз , всьому колективу УФМЛ та кафедрі фізики особливо.
                    </span>
                </div>
            </div>

            <div class="text-vertical-paragraph">
                <h1 class="big-text">
                    Фінальний етап
                </h1>
                <span class="gray-text">
                    Фінальному етапу передували два заочні тури, під час яких до заходу долучились більше ніж 250 учасників з усіх регіонів України. До участі були запрошені учні 9-11 класів, хоча до заходу активно долучились також і учні 8 класів!
За результатами перевірки заочних турів колегією журі, було відібрано по 22 переможці з кожної паралелі, які були запрошені до участі у фінальному етапі. Не усі з них, на жаль, змогли взяти участь у фінальному етапі (хворіли, мешкали у регіонах з дуже незручними для одночасного написання олімпіади часовими поясами, не мали  можливості в необхідну дату приїхати в місто, де нами був організований центр проведення, тощо), тому у фінальному етапі взяли участь 53 учасники але з багатьох регіонів України: Дніпропетровської, Чернівецької, Хмельницької, Полтавської, Сумської, Івано-Франківської, Київської, Львівської, Харківської, Херсонської областей, м. Києва та Українського фізико-математичного ліцею при КНУ.
                </span>
                <span class="gray-text">
                    З урахуванням того, що внаслідок військової агресії рф, багато хто з учнів (а також вчителів, членів журі) мешкає далеко від свого постійного житла, для проведення фінального етапу нами було  організовано 5 регіональних центрів на території України, а також 4 регіональні центри у Європі.
                </span>
                <span class="gray-text">
                    В кожному з центрі під час проведення олімпіади були присутні члени журі та оргкомітету (в деякі центри вони виїжджали на час фінального туру). Учні на всіх локаціях працювали з увімкненим відео та аудіо зв’язком.
                     </span>
                <img src="{% static "images/news/new_1/photo2_new2.jpg" %}" width="890" height="720" alt="© IPhO - IPN" class="">

            </div>
            <div class="text-vertical-paragraph">

                <span class="gray-text">
                    Всі роботи сканувались і журі отримало як паперовий так і електронний варіанти робіт всіх учасників та проводило перевірку вже зашифрованих робіт. Усі локації на теренах України були обладнані укриттями і, з урахуванням масового ракетного обстрілу території України 14 січня, на жаль, усім 5 регіональним центрам довелося ними скористатися.  Учні в деяких локаціях (Київ, Харків) увесь час олімпіади працювали з укриття.
                </span>
                <span class="gray-text">
                   Але навіть ракетні обстріли країни-агресора не зупинять наше талановите, розумне і цілеспрямоване молоде покоління фізиків!
                </span>
                <span class="gray-text">
                  За результатами перевірки фінального туру колегією журі було визначено переможців (3 перших місця, 7 других, 16 третіх). Всі результати можна подивитися на сторінці олімпіади:
                </span>
{#                <span class="gray-text">#}
                <a href="https://ftlkhersonua.norwayeast.cloudapp.azure.com/web/site/task-olymp"> https://ftlkhersonua.norwayeast.cloudapp.azure.com/web/site/task-olymp</a>
{#                </span>#}
                <span class="gray-text">
                    Велика подяка Віталію Шовкуну за технічний супровід роботи програмного середовища та Roman Prokofiev за суттєву фінансову підтримку роботи всієї системи.
                </span>
                <h1 class="big-text">
                    Результати фінального етапу ХХІІ Всеукраїнської інтернет-олімпіади з фізики
                </h1>
                <span class="gray-text">
                    Також за результатами фінального етапу ХХІІ Всеукраїнської інтернет-олімпіади з фізики до участі у IV етапі Всеукраїнської учнівської олімпіади з фізики поза рейтингом пропонуються:
                </span>
                <span class="gray-text">
                    - Тхор Милослава, учениця 9 класу Київського природничо-наукового ліцею №145 Печерського району м. Києва;<br>
                    - Павук Максим, учень 10 класу Львівського фізико-математичного ліцею-інтернату при Львівському національному університеті імені Івана Франка;<br>
                    - Богдан Марина, учениця 11 класу Українського фізико-математичного ліцею Київського національного університету імені Тараса Шевченка;<br>
                    - Мінтенко Дмитро, учень 9 класу Чернівецького ліцею №3 медичного профілю Чернівецької міської ради;<br>
                    - Островський Володимир, учень 9 класу Львівського фізико-математичного ліцею-інтернату при Львівському національному університеті імені Iвана Франка;<br>
                    - Потапов Данило, учень 10 класу Львівського фізико-математичного ліцею-інтернату при Львівському національному університеті імені Iвана Франка;<br>
                    - Жаріхін Ігнат, учень 10 класу Харківського навчально-виховного комплексу № 45 «Академічна гімназія» Харківської міської ради Харківської області;<br>
                    -  Діана Зазубик , учениця 11 класу Ліцею № 5 Івано-Франківської міської ради;<br>
                    - Білоус  Альберт , учень 11 класу Херсонського фізико-технічного ліцею Херсонської міської ради.<br>
                </span>
                <span class="gray-text">
                    Щиро вітаємо усіх призерів та учасників, їх батьків та вчителів!
                </span>
                <span class="gray-text">
                    Слід зауважити, що участь у олімпіаді була для учнів абсолютно безкоштовна, тобто не передбачала ніякого оргвнеску.  Все проводилося за підтримки організаторів, членів журі, колишніх учасників олімпіад з фізики, та багатьох  небайдужих до спільної справи людей.
                    Велика подяка усім, хто долучився до організації заходу на найвищому рівні: знаходив приміщення та забезпечував умови проведення олімпіади в Україні та за кордоном (Володимир Білошицький, Oksana Chelpanova, Alex Mikulenko, Ольга Наземцева , Олександр Вітюк, Василь Нефедченко, Николай Петрунив), працював в журі та оргкомітеті, допомогав як корисними порадами   (Борис Креминский) так і технічно й фінансово (Physics online school), приділяв не аби яку увагу та витрачав купу власного часу, нервів та коштів заради справи!
                </span>
                <span class="gray-text">
                    Тримаємо освітній стрій! Усе буде Україна!
                </span>
            </div>
        </div>
    </div>
</body>
{% endblock %}